<!-- Header -->
<div class="docs-header">
   <h1 class="col-md-10 col-md-offset-1">
      <span>Badge Detail</span>
   </h1>
</div>

<!-- Content -->
<div class="margin col-md-10 col-md-offset-1">

<div *ngIf="auth.authenticated()">

	<div *ngIf="badge">

	<div class="col col-xs-12 form-inline">

	<div *ngIf="!bName && !auth.isAdmin()">
		<h3 class="text-blue">{{badge.name}}</h3>
	</div>

	<div *ngIf="!bName && auth.isAdmin()">
		<h3 class="click text-blue" (click)="bName=true">{{badge.name}}</h3>
	</div>

	<div *ngIf="bName && auth.isAdmin()" class="form-inline" (clickOutside)="clickOut()">
		<input class="border input form-control" type="text" [(ngModel)]="badge.name">
		<button class="btn-small btn-n btn btn-success" (click)="bName=false;updateBadge()">Y</button>
		<button class="btn-small btn-n btn btn-danger" (click)="bName=false;getBadge()">N</button>
	</div>

	<!-- 	<label>Code: </label>
	<text>{{badge.code}}</text><br> -->

	<div *ngIf="!oview && !auth.isAdmin()" class="col top col-xs-5">
		<text>{{badge.overview}}</text><br>
	</div>

	<div *ngIf="!oview && auth.isAdmin()" class="col top col-xs-5">
		<text class="click" (click)="oview=true">{{badge.overview}}</text><br>
	</div>

	<div *ngIf="oview && auth.isAdmin()" class="col top col-xs-6">
		<textarea class="border textarea form-control" rows="3" [(ngModel)]="badge.overview"></textarea>
		<button class="btn-small btn-oview btn btn-success" (click)="oview=false;updateBadge()">Y</button>
		<button class="btn-small btn-oview btn btn-danger" (click)="oview=false;getBadge()">N</button><br>
	</div>

	<div *ngIf="!editFC && !auth.isAdmin()" class="col top col-xs-12">
		<label>Focus: </label>
		<text>{{badge.focus}}</text>
	</div>

	<div *ngIf="!editFC && auth.isAdmin()" class="col top col-xs-12">
		<label class="click" (click)="editFC=true">Focus: </label>
		<text class="click text-blue" (click)="editFC=true">{{badge.focus}}</text>
	</div>

	<div *ngIf="auth.isAdmin() && editFC" class="col top col-xs-12">
		<label class="lab">Focus: </label>
		<input class="input-small form-control" type="text" [(ngModel)]="newFC"><button class="btn-small btn-add btn btn-default" (click)="addFC(newFC)">+</button><text class="right" *ngFor="let fc of badge.focus"> {{fc}} <button class="btn-del btn btn-default" (click)="deleteFC(fc)">-</button></text>
		<button class="btn left btn-small btn-success" (click)="editFC=false;updateBadge()">Y</button>
		<button class="btn btn-small btn-danger" (click)="editFC=false;getBadge()">N</button>
	</div>

	<!-- 	<label>Approved: </label>
	<text>{{badge.approved | yes_no}}</text><br> -->

	<!-- 	<label>InUsed: </label>
	<text>{{badge.inused | yes_no}}</text><br> -->

	<div *ngIf="advanced" class="col col-xs-12">
	<br>
	<div *ngIf="!editStatus && !auth.isAdmin()" class="">
		<label>Status: </label>
		<text>{{badge.status}}</text>
	</div>

	<div *ngIf="!editStatus && auth.isAdmin()" class="">
		<label class="click" (click)="editStatus=true">Status: </label>
		<text class="click text-blue" (click)="editStatus=true">{{badge.status}}</text>
	</div>

	<div *ngIf="editStatus && auth.isAdmin()" class="">
		<label>Status: </label>
		<select class="form-control" [(ngModel)]="badge.status"><option *ngFor="let so of statusOptions" [value]="so">{{so}}</option></select>
		<button class="btn-small btn btn-success" (click)="editStatus=false;updateBadge()">Y</button>
		<button class="btn-small btn btn-danger" (click)="editStatus=false;getBadge()">N</button>
	</div>
	<br>

	<div *ngIf="!editOwner && !auth.isAdmin()" class="">
		<label>Owner: </label>
		<text>{{badge.owner}}</text>
	</div>

	<div *ngIf="!editOwner && auth.isAdmin()" class="">
		<label class="click" (click)="editOwner=true">Owner: </label>
		<text class="click text-blue" (click)="editOwner=true">{{badge.owner}}</text>
	</div>

	<div *ngIf="editOwner && auth.isAdmin()" class="">
		<label>Owner: </label>
		<input class="input-upper form-control" type="text" [(ngModel)]="badge.owner">
		<button class="btn-small btn btn-success" (click)="editOwner=false;updateBadge()">Y</button>
		<button class="btn-small btn btn-danger" (click)="editOwner=false;getBadge()">N</button>
	</div>
	<br>

	<div *ngIf="auth.isAdmin()" class="">
		<label>Published: </label>
		<input type="checkbox" [(ngModel)]="badge.published" (change)="updatePublish($event)">
	</div>

	</div>

	<div class="col bottom col-xs-12 form-inline">
		<button *ngIf="!advanced" class="btn-big btn-add btn btn-default" (click)="advanced=true">Advanced+</button>
		<button *ngIf="advanced" class="btn-big btn-add btn btn-default" (click)="advanced=false">Hide</button>
	</div>

	</div>


	<div class="row col col-xs-12 header hidden-xs">
		<div class="col-xs-1">Level</div>
		<div class="col-xs-8">Description</div>
		<div class="col-xs-2">Badge Set</div>
		<div class="col-xs-1"></div>
	</div>
	<div class="row col col-xs-12 div-list-item" *ngFor="let badgelevel of badge.badgelevels">
		<div *ngIf="!auth.isAdmin()" class="col-sm-1">
			<div class="blevel">{{badgelevel.level}}</div>
		</div>
		<div *ngIf="auth.isAdmin()" class="col-sm-1">
			<button class="btn btn-small btn-primary wrap" (click)="onSelect(badgelevel);checkAdmin()">{{badgelevel.level}}</button>
		</div>
		<div *ngIf="!bedit || !(selectedBL.level==badgelevel.level)" class="col-sm-8" (click)="onSelect(badgelevel);checkAdmin()"><text class="text-blue">{{labels[badgelevel.level-1]}}</text><br>{{badgelevel.desc}}</div>
		<div *ngIf="bedit && selectedBL.level==badgelevel.level" class="col-sm-8">
			<text class="text-blue">{{labels[badgelevel.level-1]}}</text><br><textarea class="border form-control" rows="3" [(ngModel)]="badgelevel.desc"></textarea>
		</div>
		<div class="col-sm-2">
			<div *ngFor="let bs of findBadgeSet(badge._id,badgelevel.level)">
				<uli (click)="toBSDetail(bs._id)" class="text-blue click">{{bs.name}}</uli><text class="text-red">{{checkCore(bs,badge._id)}}</text>
			</div>
		</div>
		<div *ngIf="bedit && selectedBL.level==badgelevel.level" class="col-sm-1">
			<button class="btn btn-s btn-success" (click)="bedit=false;updateBadge()">Y</button><br>
			<button class="btn btn-s btn-danger" (click)="bedit=false;getBadge()">N</button><br>
			<!-- <button class="btn-del btn btn-default" (click)="deleteBadgeLevelPop(badgelevel)">X</button> -->
		</div>
	</div>
	<br>

<!-- 	<div *ngIf="addLevel">
		<br>
		<h3 class="text-blue">Add New Badge Level</h3><br>
		<label>Level: </label>
		<input class="input-level-new" type="number" [(ngModel)]="newLevel" placeholder="" /><br>
		<label>Desc: </label>
		<text class="text-light">{{labels[newLevel-1]}}</text><br>
		<label></label>
		<textarea class="ta-small" [(ngModel)]="newDesc" placeholder=""></textarea><br>
		<br>
		<button class="btn-big btn btn-success" [disabled]="!newLevel" (click)="addBadgeLevel();addLevel=false">Save</button>
		<button class="btn-big btn btn-danger" (click)="addLevel=false">Cancel</button><br>
	</div> -->

	<div *ngIf="!auth.isAdmin() && !bedit" class="col col-xs-6">
	<button class="btn-big btn btn-default" (click)="goBack()">Back</button>
	</div>

	<div *ngIf="auth.isAdmin() && !addLevel" class="col col-xs-6">
		<!-- <button class="btn-big btn-add btn btn-default" (click)="addBadge()">New Badge</button> -->
		<button class="btn-big btn-delete btn btn-default" (click)="deleteBadgePop()">Delete</button>
	</div>

	</div>

</div>

<div *ngIf="!auth.authenticated()">
   <h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
   {{auth.login()}}
</div>

</div>


