h1 {
  font-size: 1.8em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.6em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h3 {
  font-size: 1.2em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h4 {
  font-size: 1.1em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
  font-weight: lighter;
}
p{
  font-weight: lighter;
  width: 60%; 
  word-wrap: normal;
  text-align: justify;
}
label {
  display: inline-block;
  width: 8em;
  color: #999;
  font-weight: bold;
  margin-bottom: 30px;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 20px;
  color: #999;
}
button {
  width: 100px;
  margin-top: 0px;
  margin-right: 10px;
  font-size: 1em;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 0px !important;
  cursor: pointer; 
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}
li {
margin-left: 0;
}
table {
  table-layout: auto;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 20px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}
th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
textarea {
  vertical-align: top;
  font-size: 1em;
  color: #999;
  width: 350px;
  height: 200px;
  padding-left: .4em;
  padding-top: .4em;
  margin-bottom: 0px;
}
.ta-overview {
  width: 500px;
  height: 100px;
  border: 1px solid #cccccc;
  font-style: italic;
  word-wrap: break-word;
}
.table-badgelevels {
  margin-top: 10px;
  table-layout: fixed;
  width: 80%;
  /*white-space: nowrap;*/
  word-wrap: break-word;
}
.table-badgelevels td {

}
.th-level {
  width: 10%;
}
.th-desc {
  width: 60%;
}
.th-badgeset {
  width: 20%;
}
.td-level {
  text-align: center;
}
.td-desc {
  font-style: italic;
}
.uli-bset{
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.uli-bset:hover{
  color: red;
}
.uli-bset:visited{
  color: #607D8B;
}
.table-badgelevels-edit {
  margin-top: 10px;
  table-layout: fixed;
  width: 93%;
  word-wrap: break-word;
  border: 0;
}
.th-level-edit {
  width: 10%;
}
.th-desc-edit {
  width: 80%;
}
.th-last-edit {
  background-color: #ffffff;
  width: 15%;
  border: 0;
}
.td-level-edit {
  text-align: center;
}
.td-desc-edit {
  font-style: italic;
}
.td-last-edit {
  background-color: #ffffff;
  border: 0 ;
}
.button-edit {
  position: relative; 
  left: 62%;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.check-core {
  color: red;
}
.input-b {
  width: 300px;
  margin-right: 20px;
}
.label-bName {
  color: #039be5;
  font-size: 1.5em;
  width: 5.3em 
}
.button-newBL {
  position: relative; 
  left: 70%;
  width: 120px;
  color: white;
  background-color: #039be5;
  margin-bottom: 5px;
}
.button-newBL:hover {
  color: white;
  background-color: limegreen;
}
.button-newB {
  width: 120px;
  color: white;
  background-color: #039be5;
}
.button-newB:hover {
  color: white;
  background-color: limegreen;
}
.button-delete {
  background-color: pink;
  color: white;
  vertical-align: bottom;
  margin-left: 10px;
}
.button-delete:hover {
  background-color: red;
  color: white;
}
.button-s-y {
  width: 40px;
  color: white;
  background-color: #039be5;
  margin-left: 10px;
}
.button-s-y:hover{
  color: white;
  background-color: limegreen;
}
.button-s-n {
  width: 40px;
  color: white;
  background-color: hotpink;
}
.button-s-n:hover{
  color: white;
  background-color: red;
}
.button-ov-y {
  width: 40px;
  color: white;
  background-color: #039be5;
  margin-left: 10px;
  vertical-align: bottom;
  margin-bottom: 20px;
}
.button-ov-y:hover{
  color: white;
  background-color: limegreen;
}
.button-ov-n {
  width: 40px;
  color: white;
  background-color: hotpink;
  vertical-align: bottom;
  margin-bottom: 20px;
}
.button-ov-n:hover{
  color: white;
  background-color: red;
}
.button-bl-y {
  position: relative; 
  left: 39%;
  width: 100px;
  color: white;
  background-color: #039be5;
  border-radius: 4px;
  /*border: 1px solid #cccccc;*/
  margin-left: 10px;
}
.button-bl-y:hover{
  color: white;
  background-color: limegreen;
}
.button-bl-n {
  position: relative; 
  left: 39%;
  width: 100px;
  color: white;
  background-color: hotpink;
  border-radius: 4px;
  margin-left: 10px;
}
.button-bl-n:hover{
  color: white;
  background-color: red;
}
.button-s-delete {
  width: 40px;
  background-color: pink;
  color: white;
  vertical-align: bottom;
  margin-left: 10px;
  margin-bottom: 20px;
}
.button-s-delete:hover {
  background-color: red;
  color: white;
}
.button-l-save {
  position: relative; 
  left: 35%;
  color: white;
  background-color: #039be5;
  margin-right: 5px;
}
.button-l-save:hover {
  color: white;
  background-color: limegreen;
}
.button-l-cancel {
  position: relative; 
  left: 35%;
  color: white;
  background-color: hotpink;
}
.button-l-cancel:hover{
  color: white;
  background-color: red;
}
.click{
  cursor: pointer;
  cursor: hand;
}
.click:hover{
  color: #039be5;
}
.click:visited{
  color: #607D8B;
}
.click-badge{
  color: #039be5;
  cursor: pointer;
  cursor: hand;
}
.select-status {
  background: transparent;
  width: 150px;
  height: 30px;
  color: #999;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 0;
  border: 1px solid #cccccc;
  margin-right: 30px;
  margin-bottom: 30px;
}
.input-level-edit{
  width: 50px;
  border: 1px solid #cccccc;
}
.ta-edit {
  width: 830px;
  height: 80px;
  border: 1px solid #cccccc;
}
.input-level-new{
  width: 150px;
}
.ta-small {
  width: 500px;
  height: 100px;
  border: 1px solid #cccccc;
}
.text-blue {
  color: #039be5;
}