
.input{
  width: 300px;
}
.input-small {
  width: 150px;
}
.input-tiny {
  width: 50px;
}
.textarea {
  width: 350px;
  height: 120px;
  background-color: transparent;
}
.ta-row {
  width: 700px;
  height: 80px;
}
.btn-delete {
  margin-top: 20px;
}