<!-- Header -->
<div class="docs-header">
   <h1 class="col-md-10 col-md-offset-1">
      <span>Badge Detail</span>
   </h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

<div *ngIf="auth.authenticated()">

	<div *ngIf="badge">

	<div *ngIf="!bName && !auth.isAdmin()">
		<h3>Badge - {{badge.name}}</h3>
	</div>

	<div *ngIf="!bName && auth.isAdmin()">
		<h3 class="click text-blue" (click)="bName=true">Badge - {{badge.name}}</h3>
	</div>

	<div *ngIf="bName && auth.isAdmin()" class="form-inline">
		<label class="text-blue"><h3>Badge: </h3></label>
		<input class="input form-control" type="text" [(ngModel)]="badge.name" placeholder="">
		<button class="btn-small btn btn-success" (click)="bName=false;updateBadge()">Y</button>
		<button class="btn-small btn btn-danger" (click)="bName=false;getBadge()">N</button>
	</div>
	<br>

	<!-- 	<label>Code: </label>
	<text>{{badge.code}}</text><br> -->

	<div *ngIf="!oview && !auth.isAdmin()" class="form-inline">
		<label>Overview: </label>
		<textarea readonly class="textarea form-control" rows="5">{{badge.overview}}</textarea>
	</div>

	<div *ngIf="!oview && auth.isAdmin()" class="form-inline">
		<label class="click text-blue" (click)="oview=true">Overview: </label>
		<textarea readonly class="textarea form-control" rows="5" (click)="oview=true" placeholder="">{{badge.overview}}</textarea>
	</div>

	<div *ngIf="oview && auth.isAdmin()" class="form-inline">
		<label class="text-blue">Overview: </label>
		<textarea class="textarea form-control" rows="5" [(ngModel)]="badge.overview" placeholder=""></textarea>
		<button class="btn-small btn btn-success" (click)="oview=false;updateBadge()">Y</button>
		<button class="btn-small btn btn-danger" (click)="oview=false;getBadge()">N</button>
	</div>
	<br>

	<div *ngIf="!editFC && !auth.isAdmin()" class="form-inline">
		<label>Focus: </label>
		<text>{{badge.focus}}</text>
	</div>

	<div *ngIf="!editFC && auth.isAdmin()" class="form-inline">
		<label class="click text-blue" (click)="editFC=true">Focus: </label>
		<text class="click text-blue" (click)="editFC=true">{{badge.focus}}</text>
	</div>

	<div *ngIf="auth.isAdmin() && editFC" class="form-inline">
		<label class="text-blue">Focus: </label>
		<input class="input-small form-control" type="text" [(ngModel)]="newFC" placeholder=""><button class="btn-small btn-add btn btn-default" (click)="addFC(newFC)">+</button><text class="right" *ngFor="let fc of badge.focus">{{fc}} <button class="btn-small btn-del btn btn-default" (click)="deleteFC(fc)">-</button></text>

		<button class="btn-small btn btn-success" (click)="editFC=false;updateBadge()">Y</button>
		<button class="btn-small btn btn-danger" (click)="editFC=false;getBadge()">N</button>
	</div>
	<br>

	<!-- 	<label>Approved: </label>
	<text>{{badge.approved | yes_no}}</text><br> -->

	<!-- 	<label>InUsed: </label>
	<text>{{badge.inused | yes_no}}</text><br> -->

	<div *ngIf="!editStatus && !auth.isAdmin()" class="form-inline">
		<label>Status: </label>
		<text>{{badge.status}}</text>
	</div>

	<div *ngIf="!editStatus && auth.isAdmin()" class="form-inline">
		<label class="click text-blue" (click)="editStatus=true">Status: </label>
		<text class="click text-blue" (click)="editStatus=true">{{badge.status}}</text>
	</div>

	<div *ngIf="editStatus && auth.isAdmin()" class="form-inline">
		<label class="text-blue">Status: </label>
		<select class="form-control" [(ngModel)]="badge.status"><option *ngFor="let so of statusOptions" [value]="so">{{so}}</option></select>
		<button class="btn-small btn btn-success" (click)="editStatus=false;updateBadge()">Y</button>
		<button class="btn-small btn btn-danger" (click)="editStatus=false;getBadge()">N</button>
	</div>
	<br>
	<br>

<!-- 	<div *ngIf="auth.isAdmin() && !addLevel" >
		<button class="btn-big btn btn-default" (click)="addLevel=true;bedit=true">New Level</button>
	</div> -->

	<div *ngIf="!bedit">
		<div class="row col-xs-12 header hidden-xs">
		  <div class="col-xs-1">Level</div>
		  <div class="col-xs-7">Description</div>
		  <div class="col-xs-4">BadgeSet</div>
		</div>

		<div class="row col-xs-12 div-list-item" *ngFor="let badgelevel of cleanEmpty(badge.badgelevels)">
			<div class="col-sm-1 col-xs-12" (click)="checkAdmin()">{{badgelevel.level}}</div>
			<div class="col-sm-7 col-xs-12" (click)="checkAdmin()"><text class="text-blue">{{labels[badgelevel.level-1]}}</text><br>{{badgelevel.desc}}</div>
			<div class="col-sm-4 col-xs-12" (click)="checkAdmin()">
				<div *ngFor="let bs of findBadgeSet(badge.name,badgelevel.level)">
					<uli (click)="toBSDetail(bs._id)" class="uli-bset">{{bs.name}}</uli><text class="text-red">{{checkCore(bs,badge.name)}}</text>
				</div>
	  		</div>
		</div>
	</div>

	<div *ngIf="bedit">
		<div class="row col-xs-12 header hidden-xs">
		  <div class="col-xs-2">Level</div>
		  <div class="col-xs-8">Description</div>
		  <div class="col-xs-2"></div>
		</div>

		<div class="row col-xs-12 div-list-item" *ngFor="let badgelevel of badge.badgelevels">
			<div class="col-sm-2 col-xs-12"><input class="input-tiny form-control" type="number" [(ngModel)]="badgelevel.level" placeholder="" /></div>
			<div class="col-sm-8 col-xs-12"><text class="text-blue">{{labels[badgelevel.level-1]}}</text><br><textarea class="ta-row form-control" [(ngModel)]="badgelevel.desc" placeholder=""></textarea></div>
			<div class="col-sm-2 col-xs-12"><button *ngIf="bedit && auth.isAdmin()" class="btn-delete btn btn-default" (click)="deleteBadgeLevelPop(badgelevel)">X</button></div>
		</div>
	</div>

<!-- 	<div *ngIf="addLevel">
		<br>
		<h3 class="text-blue">Add New Badge Level</h3><br>
		<label>Level: </label>
		<input class="input-level-new" type="number" [(ngModel)]="newLevel" placeholder="" /><br>
		<label>Desc: </label>
		<text class="text-light">{{labels[newLevel-1]}}</text><br>
		<label></label>
		<textarea class="ta-small" [(ngModel)]="newDesc" placeholder=""></textarea><br>
		<br>
		<button class="btn-big btn btn-success" [disabled]="!newLevel" (click)="addBadgeLevel();addLevel=false">Save</button>
		<button class="btn-big btn btn-danger" (click)="addLevel=false">Cancel</button><br>
	</div> -->

	<button *ngIf="!auth.isAdmin() && !bedit" class="btn-big btn btn-default" (click)="goBack()">Back</button>

	<div *ngIf="auth.isAdmin() && !addLevel">
		<button class="btn-big btn btn-primary" (click)="addBadge()">New Badge</button>
		<button class="btn-big btn btn-primary" (click)="deleteBadgePop()">Delete</button>
		<button *ngIf="bedit" class="btn-big btn btn-danger pull-right" (click)="bedit=false;getBadge()">Cancel</button>
		<button *ngIf="bedit" class="btn-big btn btn-success pull-right" (click)="bedit=false;updateBadge()">Save</button>
	</div>

	</div>

</div>
<br>
<br>
<br>

<div *ngIf="!auth.authenticated()">
   <h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
   {{auth.login()}}
</div>

</div>


