/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}

#page-wrap {
   /*text-align: center;*/
   /*width: 90%;*/
   width: 1200px;
   margin: 0 auto;
}

/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}

a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-size: 1em;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 0px !important;
  cursor: pointer;
  cursor: hand;
  margin-right: 10px;
}
button:hover {
  background-color: #cfd8dc;
  color: #039be5;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 0px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

ul {
    width: 1070px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    border-radius: 0px;
}

li {
    float: left;
}

li a {
    font-size: 1.6em;
    /*font-style: bold;*/
    display: block;
    color: #666;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 20px;
  color: #999;
}
table {
  table-layout: auto;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 20px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
label {
  display: inline-block;
  width: 8em;
  color: #999;
  font-weight: bold;
  margin-bottom: 30px;
}
textarea {
  vertical-align: top;
  font-size: 1em;
  color: #999;
  width: 350px;
  height: 200px;
  padding-left: .4em;
  padding-top: .4em;
  margin-bottom: 20px;
}




