/* Overall */
header .container{
  width: 100%;
  padding:0px;
  margin:0px;
  background-color: black;
}
nav {
  margin-bottom: 0px !important;
}
label {
  width: 6em;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 0px;
  color: #999;
}
table {
  table-layout: auto;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 20px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
th , td  {
  border-collapse: collapse;
  padding: 5px;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 20px;
}
textarea {
  vertical-align: top;
  font-size: 1em;
  color: #999;
  width: 350px;
  height: 200px;
  padding-left: .4em;
  padding-top: .4em;
  margin-bottom: 20px;
}

/* List */
.docs-header{
  width: 100%;
  background-color: #1E3D5a;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  color: white;
}

.header{
  font-weight: 600;
}

.div-list-item{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #ddd solid;
}

.div-list-item:hover{
  background-color:#eee;
}
.div-list-item div{
  padding-top: 6px;
}

.btn.wrap{
  white-space: inherit;
}

.padding-large-vertical{
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .wide-only{
    display:none;
  }
}

.text-blue {
  color: #039be5;
}
