<!-- Header -->
<div class="docs-header">
   <h1 class="col-md-10 col-md-offset-1">
      <span>Badge Set Detail</span>
   </h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

<div *ngIf="auth.authenticated()">

	<div *ngIf="badgeset">

	<div *ngIf="!bsName && !auth.isAdmin()">
	<h3 class="text-blue">{{badgeset.name}}</h3>
	</div>

	<div *ngIf="!bsName && auth.isAdmin()">
	<h3 class="click text-blue" (click)="bsName=true">{{badgeset.name}}</h3>
	</div>

	<div *ngIf="bsName && auth.isAdmin()" class="form-inline">
	<label class="text-blue"><h3>Badge Set:</h3></label>
	<input class="input form-control" type="text" [(ngModel)]="badgeset.name" placeholder="">
	<button class="btn-small btn btn-success" (click)="bsName=false;updateBadgeSet()">Y</button>
	<button class="btn-small btn btn-danger" (click)="bsName=false;getBadgeSet()">N</button>
	</div>
	<br>

	<div *ngIf="!tg && !auth.isAdmin()">
	<label>Tier/Grade: </label>
	<text>{{badgeset.tier}} - {{badgeset.grade}}   ( ${{getPay(badgeset.tier,badgeset.grade)}}K )</text>
	</div>

	<div *ngIf="!tg && auth.isAdmin()">
	<label class="click" (click)="tg=true">Tier/Grade: </label>
	<text  class="click text-blue" (click)="tg=true">{{badgeset.tier}} - {{badgeset.grade}}   ( ${{getPay(badgeset.tier,badgeset.grade)}}K )</text>
	</div>

	<div *ngIf="tg && auth.isAdmin()" class="form-inline">
	<label class="text-blue">Tier/Grade: </label>
	<select class="form-control" [(ngModel)]="badgeset.tier"><option *ngFor="let to of getTiersOptions()" [value]="to">{{to}}</option></select>
	<select class="form-control" [(ngModel)]="badgeset.grade"><option *ngFor="let go of gradesOptions" [value]="go">{{go}}</option></select>
	<text>( ${{getPay(badgeset.tier,badgeset.grade)}}K ) </text>
	<button class="btn-small btn btn-success" (click)="tg=false;updateBadgeSet()">Y</button>
	<button class="btn-small btn btn-danger" (click)="tg=false;getBadgeSet()">N</button>
	</div>
	<br>

	<!-- 	<label>Grade: </label>
	<text>{{badgeset.grade}}</text><br>

	<label>Pay: </label>
	<text>${{getPay(badgeset.tier,badgeset.grade)}}K</text><br> -->

	<div *ngIf="!tag && !auth.isAdmin()">
	<label>Tags: </label>
	<text>{{badgeset.tags}}</text>
	</div>

	<div *ngIf="!tag && auth.isAdmin()">
	<label class="click" (click)="tag=true">Tags: </label>
	<text class="click text-blue" (click)="tag=true">{{badgeset.tags}}</text>
	</div>

	<div *ngIf="tag && auth.isAdmin()" class="form-inline">
	<label class="text-blue">Tags: </label>
	<input class="input-small form-control" type="text" [(ngModel)]="newTag" placeholder=""><button class="btn-small btn-add btn btn-default" (click)="addTag(newTag)">+</button><text *ngFor="let tag of badgeset.tags">{{tag}} <button class="btn-small btn-del btn btn-default" (click)="deleteTag(tag)">-</button></text>

	<button class="btn-small btn btn-success" (click)="tag=false;updateBadgeSet()">Y</button>
	<button class="btn-small btn btn-danger" (click)="tag=false;getBadgeSet()">N</button>
	</div>
	<br>

	<!-- 	<label>Prerequisite: </label>
	<text>Need at least {{badgeset.numbadges}} out of {{badgeset.badgegroups.length}} Badges to achieve this Badge Set. (Core Badges are required if any.)</text><br>

	<label>Core Badges: </label>
	<text *ngFor="let coreb of badgeset.corebadges">{{coreb.badge}} - {{coreb.level}}, </text><br> -->

	<!-- 	<label>InUsed: </label>
	<text>{{badgeset.inused | yes_no}}</text><br>
	-->

	<div *ngIf="!status && !auth.isAdmin()">
	<label>Status: </label>
	<text>{{badgeset.status}}</text>
	</div>

	<div *ngIf="!status && auth.isAdmin()">
	<label class="click" (click)="status=true">Status: </label>
	<text class="click text-blue" (click)="status=true">{{badgeset.status}}</text>
	</div>

	<div *ngIf="status && auth.isAdmin()" class="form-inline">
	<label class="text-blue">Status: </label>
	<select class="form-control" [(ngModel)]="badgeset.status"><option *ngFor="let so of statusOptions" [value]="so">{{so}}</option></select>

	<button class="btn-small btn btn-success" (click)="status=false;updateBadgeSet()">Y</button>
	<button class="btn-small btn btn-danger" (click)="status=false;getBadgeSet()">N</button>
	</div>
	<br>

	<div *ngIf="auth.isAdmin() && !addNew && !badgeset.badgegroups[0]" >
	<button class="btn btn-primary" (click)="addNew=true;resetNewValue();bedit=true">New Badge</button>
	</div>

	<div *ngIf="badgeset.badgegroups[0]" class="row col-xs-11">
		<button *ngIf="!more && !bedit" class="btn-big btn btn-primary pull-right" (click)="more=true">Show More</button>
		<button *ngIf="more && !bedit" class="btn-big btn btn-primary pull-right" (click)="more=false">Show Less</button>
	</div>

	<div *ngIf="!more">
		<div class="row col-xs-12 header hidden-xs">
		  <div class="col-xs-4">Badge</div>
		  <div class="col-xs-6">Description</div>
		  <div class="col-xs-2"></div>
		</div>

		<div class="row col-xs-12 div-list-item" *ngFor="let badgegroup of badgeset.badgegroups">
			<div class="col-sm-4" *ngIf="!bedit" (click)="checkAdmin()"><text class="click text-blue" (click)="bedit=false;toBadgeDetail(badgegroup.bid)">{{getBadgeName(badgegroup.bid)}} - {{badgegroup.level}} <text *ngIf="badgegroup.focus.length!=0" class="focus"> [{{badgegroup.focus}}]</text></text></div>
			<div class="col-sm-6" *ngIf="!bedit" (click)="checkAdmin()"><text class="text-blue">{{labels[badgegroup.level-1]}}</text><br>{{getDesc(badgegroup.bid,badgegroup.level)}}</div>
			<div class="col-sm-4 form-inline" *ngIf="bedit"><select class="form-control" [(ngModel)]="badgegroup.bid"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select><select class="form-control" [(ngModel)]="badgegroup.level"><option *ngFor="let lo of getLevelsOptions(badgegroup.bid)" [value]="lo">{{lo}}</option></select><br><text *ngFor="let fc of getFocusOptions(badgegroup.bid)">{{fc}} <input class="form-control" type="checkbox" [checked]="checkFocus(fc,badgegroup.focus)" [value]="fc" (change)="updateChecked(fc, $event, badgegroup)">,  </text></div>
			<div class="col-sm-6" *ngIf="bedit"><text class="text-blue">{{labels[badgegroup.level-1]}}</text><br>{{getDesc(badgegroup.bid, badgegroup.level)}}</div>
			<div class="col-sm-2"><button *ngIf="bedit && auth.isAdmin()" class="btn-delete btn btn-default" (click)="deleteBadgeGroupPop(badgegroup)">X</button></div>
		</div>
	</div>

	<div *ngIf="addNew" class="row col-xs-6 form-inline">
		<h3 class="text-blue">Add New Badge: </h3>
		<label>Badge: </label>
		<select class="form-control" [(ngModel)]="newBID"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select>

		<label class="label-level">Level: </label>
		<select class="form-control" [(ngModel)]="newLevel"><option *ngFor="let lo of getLevelsOptions(newBID)" [value]="lo">{{lo}}</option></select><br>
		<br>
		
		<label>Focus: </label>
		<text *ngFor="let fc of getFocusOptions(newBID)">{{fc}} <input type="checkbox" [value]="fc" (change)="updateCheckedNew(fc, $event, newFocus)">, </text><br>

		<label>Description: </label>
		<textarea readonly class="textarea form-control" placeholder="">{{getDesc(newBID,newLevel)}}</textarea><br>

		<button class="btn-big btn btn-danger pull-right" (click)="addNew=false">Cancel</button>
		<button class="btn-big btn btn-success pull-right" (click)="addBadgeGroup();addNew=false">Save</button>
	</div>

	<div *ngIf="more">
		<div class="row col-xs-12 header hidden-xs">
		  <div class="col-xs-4">Badge</div>
		  <div class="col-xs-6">Description</div>
		</div>

		<div class="row col-xs-12 div-list-item" *ngFor="let moreb of getMoreBadges(badgeset.badgegroups)">
			<div class="col-sm-4" (click)="bedit=true;more=false"><text *ngIf="moreb.current" class="click text-blue" (click)="bedit=false;toBadgeDetail(moreb.bid)">{{getBadgeName(moreb.bid)}} - {{moreb.level}} <text *ngIf="moreb.focus.length!=0"> [{{moreb.focus}}]</text></text><text *ngIf="!moreb.current" (click)="toBadgeDetail(moreb.bid)">{{getBadgeName(moreb.bid)}} - {{moreb.level}}</text></div>
			<div class="col-sm-6" (click)="bedit=true;more=false"><text *ngIf="moreb.current" class="text-blue">{{labels[moreb.level-1]}}</text><text *ngIf="!moreb.current">{{labels[moreb.level-1]}}</text><br>{{getDesc(moreb.bid,moreb.level)}}</div>
		</div>
	</div>

	<div *ngIf="!auth.isAdmin() && !bedit" class="row col-xs-11">
		<button class="btn-big btn btn-default" (click)="goBack()">Back</button>
	</div>

	<div *ngIf="auth.isAdmin() && !addNew" class="row col-xs-11">
		<button class="btn-bs btn btn-primary" (click)="addBadgeSet()">New BadgeSet</button>
		<button class="btn-big btn btn-primary" (click)="deleteBadgeSetPop()">Delete</button>
		<button class="btn-big btn btn-primary" (click)="addNew=true;resetNewValue()">New Badge</button>

		<button *ngIf="bedit" class="btn-big btn btn-danger pull-right" (click)="bedit=false;getBadgeSet()">Cancel</button>
		<button *ngIf="bedit" class="btn-big btn btn-success pull-right" (click)="bedit=false;updateBadgeSet()">Save</button>
	</div>

	</div>

</div>
<br>
<br>
<br>

<div *ngIf="!auth.authenticated()">
   <h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
   {{auth.login()}}
</div>

</div>
