h1 {
  font-size: 1.8em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.6em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h3 {
  font-size: 1.3em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h4 {
  font-size: 1.1em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
  font-weight: lighter;
}
button {
  width: 100px;
}
.ta-core {
  border: 0;
}
.table-badgegroups {
  margin-top: 10px;
  table-layout: fixed;
  width: 75%;
  /*white-space: nowrap;*/
  word-wrap: break-word;
}
.table-badgelevels td {
/*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}
.th-badge {
  width: 20%;
}
.th-desc {
  width: 60%;
}
.th-core {
  width: 15%;
}
.button-edit {
  position: relative; 
  left: 57%;
}
.badge{
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.badge:hover{
  color: red;
}
.badge:visited{
  color: #607D8B;
}
.td-desc {
  font-style: italic;
}
.td-core {
  text-align: center;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

