.input{
  width: 300px;
}
.input-small {
  width: 150px;
}
.input-tiny {
  width: 50px;
}
.textarea {
  width: 350px;
  height: 120px;
  background-color: transparent;
}
.btn-delete {
  margin-top: 20px;
}
.btn-bs {
  margin-top: 20px;
  margin-bottom: 20px;
}
.label-level {
  margin-left: 50px;
  width: 6em;
}