
<div *ngIf="auth.authenticated()">

<div *ngIf="badgeset">

<div *ngIf="!bsName || !auth.isAdmin()">
<h2 class="click-badgeset" (click)="bsName=true">Badge Set - {{badgeset.name}}</h2><br>
</div>

<div *ngIf="bsName && auth.isAdmin()">
<br>
<label class="label-bsName">Badge Set: </label>
<input class="input-bs" type="text" [(ngModel)]="badgeset.name" placeholder="">
<button class="button-s-y" (click)="bsName=false;updateBadgeSet()">Y</button>
<button class="button-s-n" (click)="bsName=false;getBadgeSet()">N</button>
</div>

<div *ngIf="!tg || !auth.isAdmin()">
<label>Tier/Grade: </label>
<text  class="click" (click)="tg=true">{{badgeset.tier}} - {{badgeset.grade}}   ( ${{getPay(badgeset.tier,badgeset.grade)}}K )</text>
</div>

<div *ngIf="tg && auth.isAdmin()">
<label class="text-blue">Tier/Grade: </label>
<select class="select-tier" [(ngModel)]="badgeset.tier"><option *ngFor="let to of getTiersOptions()" [value]="to">{{to}}</option></select>
<select class="select-grade" [(ngModel)]="badgeset.grade"><option *ngFor="let go of gradesOptions" [value]="go">{{go}}</option></select>
<text class="right">( ${{getPay(badgeset.tier,badgeset.grade)}}K )</text>
<button class="button-s-y" (click)="tg=false;updateBadgeSet()">Y</button>
<button class="button-s-n" (click)="tg=false;getBadgeSet()">N</button>
</div>

<!-- 	<label>Grade: </label>
<text>{{badgeset.grade}}</text><br>

<label>Pay: </label>
<text>${{getPay(badgeset.tier,badgeset.grade)}}K</text><br> -->

<div *ngIf="!tag && !checkEmptyTags() || !auth.isAdmin()">
<label>Tags: </label>
<text class="click" (click)="tag=true">{{badgeset.tags}}</text>
</div>

<div *ngIf="auth.isAdmin() && (tag || checkEmptyTags())">
<label class="text-blue">Tags: </label>
<input class="input-tags" type="text" [(ngModel)]="newTag" placeholder=""><button class="button-t-add" (click)="addTag(newTag)">+</button><text class="right" *ngFor="let tag of badgeset.tags">{{tag}} <button class="button-t-delete" (click)="deleteTag(tag)">-</button></text>

<button class="button-s-y" (click)="tag=false;updateBadgeSet()">Y</button>
<button class="button-s-n" (click)="tag=false;getBadgeSet()">N</button>
</div>

<!-- 	<label>Prerequisite: </label>
<text>Need at least {{badgeset.numbadges}} out of {{badgeset.badgegroups.length}} Badges to achieve this Badge Set. (Core Badges are required if any.)</text><br>

<label>Core Badges: </label>
<text *ngFor="let coreb of badgeset.corebadges">{{coreb.badge}} - {{coreb.level}}, </text><br> -->

<!-- 	<label>InUsed: </label>
<text>{{badgeset.inused | yes_no}}</text><br>
-->

<div *ngIf="!status || !auth.isAdmin()">
<label>Status: </label>
<text class="click" (click)="status=true">{{badgeset.status}}</text><br>
</div>

<div *ngIf="status && auth.isAdmin()">
<label class="text-blue">Status: </label>
<select class="select-status" [(ngModel)]="badgeset.status"><option *ngFor="let so of statusOptions" [value]="so">{{so}}</option></select>

<button class="button-s-y" (click)="status=false;updateBadgeSet()">Y</button>
<button class="button-s-n" (click)="status=false;getBadgeSet()">N</button>
</div>

<!-- 	<label>Approved: </label>
<text>{{badgeset.approved | yes_no}}</text><br> -->

<div *ngIf="auth.isAdmin() && !addNew && !badgeset.badgegroups[0]" >
<button class="button-newBadge" (click)="addNew=true;resetNewValue();bedit=true">New Badge</button>
</div>

<div *ngIf="badgeset.badgegroups[0]" >
<button *ngIf="!more && !bedit" class="button-more" (click)="more=true">Show More</button>
<button *ngIf="more && !bedit" class="button-less" (click)="more=false">Show Less</button>
<button *ngIf="auth.isAdmin() && bedit && !addNew"  class="button-newBadge" (click)="addNew=true;resetNewValue()">New Badge</button>
</div>

<table *ngIf="!more" class="table-badgegroups">
	<tr>
	  <th class="th-badge">Badge</th>
	  <th class="th-desc">Description</th>
	  <th class="th-last"></th>
	  <!-- <th class="th-core">Core Badge</th> -->
	</tr>
	<tr *ngFor="let badgegroup of badgeset.badgegroups">
		<td *ngIf="!bedit" (click)="checkAdmin()"><text class="badge" (click)="bedit=false;toBadgeDetail(badgegroup.bid)">{{getBadgeName(badgegroup.bid)}} - {{badgegroup.level}} <text *ngIf="badgegroup.focus.length!=0" class="focus"> [{{badgegroup.focus}}]</text></text></td>
		<td *ngIf="!bedit" class="td-desc" (click)="checkAdmin()"><text class="text-light-blue">{{labels[badgegroup.level-1]}}</text><br>{{getDesc(badgegroup.bid,badgegroup.level)}}</td>
		<td *ngIf="bedit"><select class="select-badge" [(ngModel)]="badgegroup.bid"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select><select class="select-level" [(ngModel)]="badgegroup.level"><option *ngFor="let lo of getLevelsOptions(badgegroup.bid)" [value]="lo">{{lo}}</option></select><br><text *ngFor="let fc of getFocusOptions(badgegroup.bid)">{{fc}} <input class="checkbox" type="checkbox" [checked]="checkFocus(fc,badgegroup.focus)" [value]="fc" (change)="updateChecked(fc, $event, badgegroup)">, </text></td>
		<td *ngIf="bedit" class="td-desc"><text class="text-light-blue">{{labels[badgegroup.level-1]}}</text><br>{{getDesc(badgegroup.bid, badgegroup.level)}}</td>
		<td class="td-last"><button *ngIf="bedit && auth.isAdmin()" class="button-s-delete" (click)="deleteBadgeGroupPop(badgegroup)">X</button></td>
	</tr>
</table>

<div *ngIf="addNew">
	<br>
	<h3 class="text-blue">Add New Badge: </h3><br>
	<label>Badge: </label>
	<select class="select-badge-new" [(ngModel)]="newBID"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select>

	<label class="label-level">Level: </label>
	<select class="select-level-new" [(ngModel)]="newLevel"><option *ngFor="let lo of getLevelsOptions(newBID)" [value]="lo">{{lo}}</option></select><br>
	
	<label>Focus: </label>
	<text *ngFor="let fc of getFocusOptions(newBID)">{{fc}} <input type="checkbox" [value]="fc" (change)="updateCheckedNew(fc, $event, newFocus)">, </text><br>
	
	<!-- <select class="select-focus-new" [(ngModel)]="newLevel"><option *ngFor="let fc of getFocusOptions(newBID)" [value]="fc">{{fc}}</option></select><br>

	<input class="input-focus-new" type="text" [(ngModel)]="newFocus" placeholder=""><br> -->

	<label>Description: </label>
	<textarea readonly class="ta-desc" placeholder="Description">{{getDesc(newBID,newLevel)}}</textarea><br>

	<button class="button-l-save" (click)="addBadgeGroup();addNew=false">Save</button>
	<button class="button-l-cancel" (click)="addNew=false">Cancel</button><br>
</div>

<table *ngIf="more" class="table-badgegroups-more">
	<tr>
	  <th class="th-badge">Badge</th>
	  <th class="th-desc">Description</th>
	</tr>
	<tr *ngFor="let moreb of getMoreBadges(badgeset.badgegroups)">
		<td (click)="bedit=true;more=false"><text *ngIf="moreb.current" class="badge" (click)="bedit=false;toBadgeDetail(moreb.bid)">{{getBadgeName(moreb.bid)}} - {{moreb.level}} <text *ngIf="moreb.focus" class="focus"> [{{moreb.focus}}]</text></text><text *ngIf="!moreb.current" class="badge-more" (click)="toBadgeDetail(moreb.bid)">{{getBadgeName(moreb.bid)}} - {{moreb.level}}</text></td>
		<td class="td-desc" (click)="bedit=true;more=false"><text class="text-light-blue">{{labels[moreb.level-1]}}</text><br>{{getDesc(moreb.bid,moreb.level)}}</td>
	</tr>
</table>

<br>
<button *ngIf="!auth.isAdmin() && !bedit" (click)="goBack()">Back</button>

<div *ngIf="auth.isAdmin() && !addNew">
<button class="button-newBS" (click)="addBadgeSet()">New BadgeSet</button>
<button class="button-delete" (click)="deleteBadgeSetPop()">Delete</button>
<button *ngIf="bedit" class="button-bl-y" (click)="bedit=false;updateBadgeSet()">Save</button>
<button *ngIf="bedit" class="button-bl-n" (click)="bedit=false;getBadgeSet()">Cancel</button>
</div>

<!-- <button (click)="goBack()">Back</button> -->
<!-- <button *ngIf="auth.isAdmin()" class="button-edit" (click)="toBSEdit(badgeset._id)">Edit</button> -->
<br>
<br>
<br>

</div>

</div>

<h3 *ngIf="!auth.authenticated()"><i>You are not logged in, please click 'Log in' button to login.</i></h3>


