<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1" >
      <span *ngIf="staffs">Admin</span>
      <span *ngIf="!staffs && auth.isAdmin()" >Add New Person</span>
      <span *ngIf="!staffs && !auth.isAdmin()">There is NO Person!</span>
   </h1>
</div>

<!-- Content -->
<div class="margin col-md-10 col-md-offset-1">

<div *ngIf="auth.authenticated()">

<div *ngIf="auth.isAdmin()">

    <div class="form-inline">
      <div *ngIf="staffs" class="form-group">
        <input class="form-control" [(ngModel)]="query" placeholder="Search for">
        <button class="btn btn-add btn-default" *ngIf!="showBS" (click)="showBS=true">Show BadgeSet</button>
        <button class="btn btn-add btn-default" *ngIf="showBS" (click)="showBS=false">Show Badges</button>
        <button class="btn btn-add btn-s btn-default" *ngIf="auth.isAdmin()" (click)="addStaff()">+</button>
      </div>

      <div *ngIf="!staffs && auth.isAdmin()" class="form-group">
        <input class="form-control" [(ngModel)]="query" placeholder="Search for">
        <button class="btn btn-add btn-s btn-default" (click)="addStaff()">+</button>
      </div>
    </div>
    <br>

    <div *ngIf!="showBS">
      <div *ngIf="staffs" class="row col col-xs-12 header hidden-xs">
        <div class=" col-xs-3">Name</div>
        <div class=" col-xs-6">Badges</div>
        <div class=" col-xs-3">Top BadgeSet</div>
        <!-- <div class=" col-xs-1">Status</div> -->
        <!-- <div class=" col-xs-1"></div> -->
      </div>

      <div class="row col col-xs-12 div-list-item" *ngFor="let staff of staffs | filter:query">
        <div  class="col-sm-3 col-xs-12">
          <button class="btn btn-b btn-primary wrap" (click)="onSelect(staff);toStaffDetail(staff._id)">{{staff.fname}} {{staff.lname}}</button>
        </div>
        <div class="col-sm-6 col-xs-12">
        	<text class="" *ngFor="let userbgroup of staff.userbgroups">
          	<text *ngIf="userbgroup.status" class="click text-blue" (click)="toBadgeDetail(userbgroup.bid)">
              <text>{{getBadgeName(userbgroup.bid)}} {{userbgroup.level}}</text>
              <text *ngIf="userbgroup.focus.length!=0 && userbgroup.status">[{{userbgroup.focus}}]</text>, 
            </text>
            <text *ngIf="!userbgroup.status" class="click text-grey">
              <text class="click text-grey">{{getBadgeName(userbgroup.bid)}} {{userbgroup.level}} </text>
              <text *ngIf="userbgroup.focus.length!=0 && !userbgroup.status">[{{userbgroup.focus}}]</text>, 
            </text>
            <!-- <button *ngIf="!userbgroup.status" class="btn-approve" (click)="userbgroup.status=true;approveBadge(staff,userbgroup)">APPROVE</button> -->
        	</text>
      	</div>
      	<div class="click text-blue col-sm-3 col-xs-12" (click)="toBSDetail(getTopStaffBS(staff.userbgroups)[0])">{{getTopStaffBS(staff.userbgroups)[1]}}</div>
        <!-- <div class="col-sm-1 col-xs-12" (click)="onSelect(staff)">{{staff.status}}</div> -->
<!--         <div class="col-sm-1 col-xs-12" *ngIf="auth.isAdmin()"><button class="btn btn-delete btn-default" (click)="deleteStaffPop(staff._id)">X</button>
        </div> -->
      </div>
    </div>

    <div *ngIf="showBS">
      <div *ngIf="staffs" class="row col col-xs-12 header hidden-xs">
        <div class=" col-xs-3">Name</div>
        <div class=" col-xs-5">Badge Sets</div>
        <div class=" col-xs-3">Tier/Grade</div>
        <!-- <div class=" col-xs-2">$$</div> -->
      </div>

      <div class="row col col-xs-12 div-list-item" *ngFor="let staff of staffs | filter:query">
        <div  class="col-sm-3 col-xs-12">
          <button class="btn btn-b btn-primary wrap" (click)="onSelect(staff);toStaffDetail(staff._id)">{{staff.fname}} {{staff.lname}}</button>
        </div>
        <div class="col-sm-5 col-xs-12">
          <div *ngFor="let bs of getSortStaffBS(staff.userbgroups)">
          <uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12" (click)="onSelect(staff)">
          <div *ngFor="let bs of getSortStaffBS(staff.userbgroups)">
          <uli>{{bs.tier}} - {{bs.grade}} ( ${{bs.pay}}K )</uli>
          </div>
        </div>
<!--         <div class="col-sm-2 col-xs-12" (click)="onSelect(staff)">
          <div *ngFor="let bs of getSortStaffBS(staff.userbgroups)">
          <uli>${{bs.pay}}K</uli>
          </div>
        </div> -->
    </div>

</div>

</div>

<div *ngIf="!auth.authenticated()">
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
{{auth.login()}}
</div>

<div *ngIf="!auth.isAdmin()">
  <h3><i>You are not logged in as an Admin.</i></h3>
</div>

</div>

