
<div *ngIf="auth.authenticated()">

<h2>User Profile</h2><br>

<label>*FName: </label>
<input class="input-fname" type="text" [(ngModel)]="newUser.fname" placeholder="First Name" /><br>

<label>*LName: </label>
<input class="input-lname" type="text" [(ngModel)]="newUser.lname" placeholder="Last Name" /><br>

<label>Position: </label>
<input class="input-pos" type="text" [(ngModel)]="newUser.position" placeholder="Position" /><br>

<label>Salary: </label>
<input class="input-salary" type="number" [(ngModel)]="newUser.salary" placeholder="0"> K<br>

<!-- <label>Email: </label>
<input class="input-email" type="text" [(ngModel)]="newUser.email" placeholder="Email" /><br> -->

<label>Phone: </label>
<input class="input-phone" type="text" [(ngModel)]="newUser.phone" placeholder="Phone" /><br>

<label>Brief: </label>
<textarea class="ta-brief" type="text" [(ngModel)]="newUser.brief" placeholder="Brief"></textarea><br>

<br>
<button class="button-add" [disabled]="!newUser.fname||!newUser.email" (click)="addNewUser()">Save</button>
<button class="button-cancel" (click)="goBack()">Cancel</button>
<br>
<br>
<br>

</div>

<h3 *ngIf="!auth.authenticated()"><i>You are not logged in, please click 'Log in' button to login.</i></h3>



