h1 {
  font-size: 1.8em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.6em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h3 {
  font-size: 1.4em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
button {
  width: 100px;
}
.button-add {
  width: 100px;
}
.button-delete {
  position: relative; 
}
.button-save {
  position: relative; 
  left: 18%;
}
.button-cancel {
  position: relative; 
  left: 18%;
}
.input-input {
  width: 300px;
}
.input-tier {
  width: 300px;
}
.input-grade {
  width: 300px;
}
.ta-judgement {
  border: 1px solid #cccccc;
  width: 300px;
  height: 100px;
}
.ta-expertise {
  border: 1px solid #cccccc;
  width: 300px;
  height: 100px;
}



