h1 {
  font-size: 1.8em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.6em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h3 {
  font-size: 1.3em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h4 {
  font-size: 1.1em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
  font-weight: lighter;
}
button {
  width: 100px;
}
.ta-judgement {
  border: 1px solid #cccccc;
  width: 470px;
  height: 100px;
}
.ta-expertise {
  border: 1px solid #cccccc;
  width: 470px;
  height: 100px;
}
.table-grades {
  margin-top: 10px;
  table-layout: fixed;
  width: 75%;
  /*white-space: nowrap;*/
  word-wrap: break-word;
}
.th-grade {
  width: 20%;
}
.th-pay {
  width: 20%;
}
.th-bs {
  width: 60%;
}
.td-grade {
  text-align: center;
}
.td-pay {
  text-align: center;
}
.td-bs {

}
.button-edit {
  position: relative; 
  left: 57%;
}
.uli-bs{
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.uli-bs:hover{
  color: red;
}
.uli-bs:visited{
  color: #607D8B;
}



