.btn-big {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.btn-b {
  width: 120px;	
  margin-right: 10px;
}
.input {
  width: 300px;
}
.textarea {
  width: 300px;
}
.btn-badge {
  width: 200px;
  margin-bottom: 10px;
}
.top {
  margin-top: 20px;
}