<div class="docs-header" *ngIf="auth.authenticated()">
   <h1 class=" col-md-10 col-md-offset-1" >
      <span *ngIf="auth.userProfile"><i>{{auth.userProfile.name}}, you are just logged in.</i></span>
      <span *ngIf="!checkProfile()"><i>You don't have any badge yet.</i></span>
   </h1>
</div>

<div *ngIf="auth.authenticated()" class="col-md-10 col-md-offset-1">

<div *ngIf="checkProfile() && staff" class="row col-xs-12">

  <div class="row padding-large-vertical">
    <text class="text-topbs">Top BadgeSet: </text><text *ngIf="getTopStaffBS(staff.userbgroups)[0]" class="badgeset" (click)="toBSDetail(getTopStaffBS(staff.userbgroups)[0])"><i> {{getTopStaffBS(staff.userbgroups)[1]}} ( {{getTopStaffBS(staff.userbgroups)[2]}} - {{getTopStaffBS(staff.userbgroups)[3]}} ${{getPay(getTopStaffBS(staff.userbgroups)[2],getTopStaffBS(staff.userbgroups)[3])}}K )</i></text>
  </div>

  <!-- Badge container -->
    <div class=" row padding-large-vertical col-xs-12 table-userbgroups">
      <div class="header row">
        <div class="div-badge col-xs-4">Badge</div>
        <div class="div-bs col-xs-4">Badge Set</div>
        <div class="div-status col-xs-4">Status</div>
      </div>


      <div *ngFor="let userbgroup of staff.userbgroups" class="row  div-list-item">
        <div class="div-badge col-xs-4" (click)="toBadgeDetail(userbgroup.bid)">{{getBadgeName(userbgroup.bid)}} - {{userbgroup.level}} <text *ngIf="userbgroup.focus.length!=0" class="text-blue"> [{{userbgroup.focus}}]</text></div>
        <div class="div-bs col-xs-4">
          <div *ngFor="let bs of findBadgeSet(staff.userbgroups,userbgroup.bid,userbgroup.level)">
            <uli (click)="toBSDetail(bs._id)" class="uli-bs">{{bs.name}}</uli>
          </div>
        </div>
        <div class="div-status col-xs-4"><i><text class="text-approve" *ngIf="userbgroup.status">{{userbgroup.status | approved_pending}}</text><text class="text-pending2" *ngIf="!userbgroup.status">{{userbgroup.status | approved_pending}}</text></i></div>
      </div>
    </div>
</div>

<!-- Button group-->
<div class="row padding-large-vertical">
  <div *ngIf="!checkProfile()">
    <h3><i>You don't have any badge yet. Please create a user profile!</i></h3>
    <br>
    <h3>User Profile:</h3>
    <label>*FName: </label>
    <input class="input-fname" type="text" [(ngModel)]="newUser.fname" placeholder="First Name" /><br>
    <label>*LName: </label>
    <input class="input-lname" type="text" [(ngModel)]="newUser.lname" placeholder="Last Name" /><br>
    <label>Position: </label>
    <input class="input-pos" type="text" [(ngModel)]="newUser.position" placeholder="Position" /><br>
    <label>Brief: </label>
    <textarea class="ta-brief" type="text" [(ngModel)]="newUser.brief" placeholder="Brief"></textarea><br>
    <br>
    <button class="button-save" [disabled]="!newUser.fname||!newUser.lname" (click)="addNewUser()">Save</button>
    <button class="button-cancel" (click)="location.reload()">Cancel</button>
  </div>
  <button *ngIf="checkProfile()" class="button-user btn btn-default" (click)="toUserDetail(auth.userProfile.email)">User Page</button><text *ngIf="checkProfile()"> You can manage your badges in user page.</text><br>
</div>


<div *ngIf="auth.isAdmin()">
  <br>
  <button class="button-admin btn btn-default" (click)="toPerson()">Admin Page</button><text> You have <text class="text-pending">{{checkNumPending()}}</text> badge(s) request(s) pending from <text class="text-pendingStaff">{{checkPendingStaff()}}</text> staff(s).</text><br>
</div>

</div>

<br>
<div *ngIf="!auth.authenticated()">
<h1>Welcome to Badge System !</h1>
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
</div>


<br>
<br>
<br>


