
<div *ngIf="auth.authenticated()">

<!-- <h1>Welcome to Badge System !</h1>
<br>

<div *ngIf="auth.authenticated() && auth.userProfile">
  <h3><i>{{auth.userProfile.name}}, you are just logged in.</i></h3>
  <br>
  <div class="row">
    <div class="col-md-6">
      <img [src]="auth.userProfile.picture" alt="" class="profile-img">
      <br>
      <p><strong>Name: </strong> {{auth.userProfile.name}}</p>
      <p><strong>Email: </strong> {{auth.userProfile.email}}</p>
    </div>
    <br>
  </div>
</div> -->

<div *ngIf="auth.userProfile">
  <br>
  <br>
  <h2><i>{{auth.userProfile.name}}, you are just logged in.</i></h2>
  <br>
</div>

<div *ngIf="staff">
<text class="text-topbs">Top BadgeSet: </text><text class="text-topbs"><i></i></text>
<br>
<br>
  <table class="table-userbgroups">
  <tr>
    <th class="th-badge">Badge</th>
    <!-- <th class="th-desc">Description</th> -->
    <th class="th-bs">Badge Set</th>
    <th class="th-status">Status</th>
  </tr>
  <tr *ngFor="let userbgroup of staff.userbgroups">
    <td class="badge" (click)="toBadgeDetail(userbgroup.badge)">{{userbgroup.badge}} - {{userbgroup.level}}</td>
    <!-- <td class="td-desc">{{getDesc(userbgroup.badge,userbgroup.level)}}</td> -->
    <td class="td-bs">
    <div *ngFor="let bs of findBadgeSet(userbgroup.badge,userbgroup.level)">
      <uli (click)="toBSDetail(bs._id)" class="uli-bs">{{bs.name}}</uli>
    </div>
    </td>
    <td class="td-status">{{userbgroup.status | approved_pending}}</td>
  </tr>
</table>
</div>

<button *ngIf="!checkProfile()" class="button-add" (click)="addNewUser(auth.userProfile.email)">Create Profile</button><text *ngIf="!checkProfile()"> Please complete your profile.</text>
<button *ngIf="checkProfile()" class="button-user" (click)="toUserDetail(auth.userProfile.email)">User Page</button><text *ngIf="checkProfile()"> You can manage your badges in user page.</text><br>

<div *ngIf="auth.isAdmin()">
  <button class="button-admin" (click)="toPerson()">Admin Page</button><text> You have <text class="text-pending">{{checkNumPending()}}</text> badge(s) request(s) pending from <text class="text-pendingStaff">{{checkPendingStaff()}}</text> staff(s).</text><br>
</div>

</div>

<br>
<div *ngIf="!auth.authenticated()">
<h1>Welcome to Badge System !</h1>
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
</div>


<br>
<br>
<br>