
<div *ngIf="auth.isAdmin()">

<div *ngIf="badgecat">
	<h2>Edit Badge Category - {{badgecat.name}}</h2><br>

	<label>Subcategory: </label>
	<input class="input-name" type="text" [(ngModel)]="badgecat.name" placeholder="Subcategory"><br>
	<br>
	<label>Category: </label>
	<input class="input-name" type="text" [(ngModel)]="badgecat.root" placeholder="Category"><br>

	<div class="badgegroup-block" *ngFor="let bgroup of badgecat.bgroups">
		<label>Badge: </label>
		<select class="select-badge" [(ngModel)]="bgroup.badge"><option *ngFor="let bo of getBadgesOptions()" [value]="bo">{{bo}}</option></select>

		<label class="label-level">Level: </label>
		<select class="select-level" [(ngModel)]="newLevel"><option *ngFor="let lo of getLevelsOptions(bgroup.badge)" [value]="lo">{{lo}}</option></select><button class="button-s-add" (click)="addLevel(bgroup,newLevel)">+</button><button class="button-s-delete" (click)="deleteBGroupPop(bgroup)">-</button><br>

		<label></label>
		<text *ngFor="let level of bgroup.levels">Level: {{level}} <button class="button-l-delete" (click)="deleteLevelPop(bgroup,level)">-</button></text><br>
		<br>

	</div>

	<br>
	<button class="button-s-add" *ngIf!="active" (click)="active=true">+</button><br>
	<br>

	<div *ngIf="active">
		<h3>Add New Badge</h3><br>
		<label>Badge: </label>
		<select class="select-badge" [(ngModel)]="newBadge"><option *ngFor="let bo of getBadgesOptions()" [value]="bo">{{bo}}</option></select>

		<label class="label-level">Level: </label>
		<select class="select-level" [(ngModel)]="newLevel"><option *ngFor="let lo of getLevelsOptions(newBadge)" [value]="lo">{{lo}}</option></select><button class="button-s-add" (click)="addNewLevel(newBadge,newLevel)">+</button><br>

		<label></label>
		<text *ngFor="let level of newBG.levels">Level: {{level}} <button class="button-l-delete" (click)="deleteNewLevel(level)">-</button></text><br>
		<br>
		<br>

		<button class="button-l-save" (click)="addBGroup();active=false">Save</button>
		<button class="button-l-cancel" (click)="active=false">Cancel</button><br>
	</div>
	
	<div *ngIf!="active">
		<button class="button-add" (click)="addBadgeCat()">New</button>
		<button class="button-delete" (click)="deleteBadgeCatPop()">Delete</button>
		<button class="button-save" [disabled]="!badgecat.name" (click)="updateBadgeCat()">Save</button>
		<button class="button-cancel" (click)="goBack()">Cancel</button>
	</div>
	<br>
	<br>
	<br>

</div>

</div>

<h3 *ngIf!="auth.isAdmin()"><i>You are not an admin, please login as an admin to continue!</i></h3>

