<!-- Header -->
<div class="docs-header">
   <h1 class="col-md-10 col-md-offset-1">
      <span>Add New Badge Set</span>
   </h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1 form-inline">

<div *ngIf="auth.isAdmin()">


<!-- <label>Index: </label>
<input class="input-index" type="number" [(ngModel)]="newBS.index" placeholder="Index"><br> -->
<br>
<label>*Name: </label>
<input class="input-name form-control" type="text" [(ngModel)]="newBS.name" placeholder=""><br>
<br>

<label>Tags: </label>
<input class="input-small form-control" type="text" [(ngModel)]="newTag" placeholder=""><button class="btn-small btn-add btn btn-default" (click)="addTag(newTag)">+</button><text *ngFor="let tag of newBS.tags">{{tag}} <button class="btn-small btn-del btn btn-default" (click)="deleteTag(tag)">-</button></text><br>
<br>

<label>Tier: </label>
<select class="select-small form-control" [(ngModel)]="newBS.tier"><option *ngFor="let to of getTiersOptions()" [value]="to">{{to}}</option></select>

<label class="label-small label-grade">Grade: </label>
<select class="select-small form-control"[(ngModel)]="newBS.grade"><option *ngFor="let go of gradesOptions" [value]="go">{{go}}</option></select><br>
<br>

<label>$$: </label>
<text>${{getPay(newBS.tier,newBS.grade)}}K</text><br>
<br>

<!-- <br>
<label>InUsed: </label>
<input type="checkbox" [(ngModel)]="newBS.inused" placeholder="InUsed" /><br> -->

<!-- <label>Approved: </label>
<input type="checkbox" [(ngModel)]="newBS.approved" placeholder="Approved" /><br> -->

<label>Status: </label>
<select class="form-control" [(ngModel)]="newBS.status"><option *ngFor="let so of statusOptions" [value]="so">{{so}}</option></select><br>
<br>

<div *ngFor="let i of nums">
<br>
<label>Badge: </label>
<select class="select-badge form-control" [(ngModel)]="newBS.badgegroups[i].bid"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select>

<label class="label-small label-level">Level: </label>
<select class="select-small form-control" [(ngModel)]="newBS.badgegroups[i].level"><option *ngFor="let lo of getLevelsOptions(newBS.badgegroups[i].bid)" [value]="lo">{{lo}}</option></select><br>
<br>

<label>Focus: </label>
<text *ngFor="let fc of getFocusOptions(newBS.badgegroups[i].bid)">{{fc}} <input type="checkbox" [value]="fc" (change)="updateChecked(fc, $event, newBS.badgegroups[i])">, </text><br>

<!-- <select class="select-focus" [(ngModel)]="newBS.badgegroups[i].focus" multiple="multiple"><option *ngFor="let fc of getFocusOptions(newBS.badgegroups[i].bid,newBS.badgegroups[i].level)" [value]="fc">{{fc}}</option></select><br> -->

<!-- <input class="input-focus" type="text" [(ngModel)]="newBS.badgegroups[i].focus" placeholder=""><br> -->

<label>Description: </label>
<textarea readonly class="textarea form-control" placeholder="">{{getDesc(newBS.badgegroups[i].bid,newBS.badgegroups[i].level)}}</textarea><br>
<br>
</div>

<!-- <br>
<button class="button-pre" *ngIf!="prerequisite" (click)="prerequisite=true;getTotalBadges(newBS.badgegroups)">Prerequisite+</button><br>
<br>

<div *ngIf="prerequisite">
	<h3>Prerequisite: </h3><br>
	<label>Numbers: </label>
	<input class="input-numBadges" type="number" [(ngModel)]="numBadges" placeholder="Number of Badges"> Require {{numBadges}} out of {{total}} Badges<br>

	<div *ngFor="let corebadge of newBS.corebadges">
	<label>CoreBadge: </label>
	<input readonly class="input-corebadge" type="text" placeholder="{{corebadge.badge}} - {{corebadge.level}}"><button class="button-c-delete" (click)="deleteCoreBadgePop(corebadge)">-</button><br>
	</div>

	<label>Add New: </label>
	<select class="select-badge" [(ngModel)]="coreBadge"><option *ngFor="let cbo of getCoreBadgesOptions(newBS.badgegroups)" [value]="cbo">{{cbo}}</option></select><button class="button-s-add" (click)="addCoreBadge(coreBadge)">+</button><br>

	<button (click)="addNumBadges();prerequisite=false">Done</button>
</div> -->

<div *ngIf!="prerequisite" class="row col-xs-6">
	<button class="btn-big btn btn-danger pull-right" (click)="goBack()">Cancel</button>
	<button class="btn-big btn btn-success pull-right" [disabled]="!newBS.name" (click)="addBadgeSet()">Save</button>
</div>
<br>
<br>
<br>

</div>

<div *ngIf="!auth.authenticated()">
   <h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
   {{auth.login()}}
</div>

</div>

