.btn-big {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.input-name{
  width: 300px;
}
.textarea {
  width: 350px;
  height: 120px;
  background-color: transparent;
}
.input-small {
  width: 240px;
  margin-right: 20px;
}
.select-small {
  width: 60px;
  margin-right: 20px;
}
.select-badge {
  width: 150px;
  margin-right: 5px;
}
.label-grade {
  margin-left: 30px;
}
.label-level {
  margin-left: 40px;
}