.btn-big {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.input-name{
  width: 250px;
}
.textarea {
  width: 350px;
  height: 120px;
  background-color: transparent;
}
.input-small {
  width: 250px;
  margin-right: 20px;
}
.select-small {
  width: 60px;
  margin-right: 20px;
}
.select-badge {
  width: 150px;
  margin-right: 5px;
}
.label-grade {
  margin-left: 20px;
}
.label-level {
  margin-left: 40px;
}
.modal-body {
  /*height: 100%;*/
  display: inline-table;
  padding-top: 5px;
}
.div-list {
  min-height: 60px;
  margin-left: 1px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px #ddd solid;
}
.div-list:hover{
  background-color: #eee;
}
.highlight {
  min-height: 60px;
  color: white;
  background-color: #039be5;
  margin-left: 1px;
  border-radius: 4px;
  /*border: 3px limegreen solid;*/
  padding-top: 10px;
  padding-bottom: 10px;
}
.lab {
  width: 6em;
}
.select {
  width: 200px;
}