<!-- Header -->
<div class="docs-header">
   <h1 class="col-md-10 col-md-offset-1">
      <span>Add New Badge Set</span>
   </h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1 form-inline">

<div *ngIf="auth.isAdmin()">


<!-- <label>Index: </label>
<input class="input-index" type="number" [(ngModel)]="newBS.index" placeholder="Index"><br> -->
<br>
<label>*Name: </label>
<input class="input-name form-control" type="text" [(ngModel)]="newBS.name" placeholder=""><br>
<br>

<label>Tags: </label>
<input class="input-small form-control" type="text" [(ngModel)]="newTag" placeholder=""><button class="btn-small btn-add btn btn-default" (click)="addTag(newTag)">+</button><text *ngFor="let tag of newBS.tags">{{tag}} <button class="btn-small btn-del btn btn-default" (click)="deleteTag(tag)">-</button></text><br>
<br>

<label>Tier: </label>
<select class="select-small form-control" [(ngModel)]="newBS.tier"><option *ngFor="let to of getTiersOptions()" [value]="to">{{to}}</option></select>

<label class="label-small label-grade">Grade: </label>
<select class="select-small form-control"[(ngModel)]="newBS.grade"><option *ngFor="let go of gradesOptions" [value]="go">{{go}}</option></select><br>
<br>

<label>$$: </label>
<text>${{getPay(newBS.tier,newBS.grade)}}K</text><br>
<br>

<!-- <br>
<label>InUsed: </label>
<input type="checkbox" [(ngModel)]="newBS.inused" placeholder="InUsed" /><br> -->

<!-- <label>Approved: </label>
<input type="checkbox" [(ngModel)]="newBS.approved" placeholder="Approved" /><br> -->

<label>Status: </label>
<select class="form-control" [(ngModel)]="newBS.status"><option *ngFor="let so of statusOptions" [value]="so">{{so}}</option></select><br>
<br>
<br>

<!-- <div *ngFor="let i of nums">
<br>
<label>Badge: </label>
<select class="select-badge form-control" [(ngModel)]="newBS.badgegroups[i].bid"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select>

<label class="label-small label-level">Level: </label>
<select class="select-small form-control" [(ngModel)]="newBS.badgegroups[i].level"><option *ngFor="let lo of getLevelsOptions(newBS.badgegroups[i].bid)" [value]="lo">{{lo}}</option></select><br>
<br>

<label>Focus: </label>
<text *ngFor="let fc of getFocusOptions(newBS.badgegroups[i].bid)">{{fc}} <input type="checkbox" [value]="fc" (change)="updateChecked(fc, $event, newBS.badgegroups[i])">, </text><br>

<label>Description: </label>
<textarea readonly class="textarea form-control" placeholder="">{{getDesc(newBS.badgegroups[i].bid,newBS.badgegroups[i].level)}}</textarea><br>
<br>
</div> -->

<div *ngIf="newBS.badgegroups.length!=0">
	<div class="row col col-xs-12 header hidden-xs">
	  <div class="col-xs-3">Badge</div>
	  <div class="col col-xs-2">Focus</div>
	  <div class="col-xs-7">Description</div>
	</div>
	<div (click)="onSelect(badgegroup)" class="row col col-xs-12 div-list-item" *ngFor="let badgegroup of newBS.badgegroups">
		<div class="col-sm-3">
			<div class="text-blue text-big click" data-toggle="modal" data-target="#myModal">{{getBadgeName(badgegroup.bid)}} {{badgegroup.level}}</div>
		</div>
		<div class="col col-sm-2 text-blue click" data-toggle="modal" data-target="#myModal">
			<text *ngIf="badgegroup.focus.length!=0"> [{{badgegroup.focus}}]</text>
		</div>
		<div class="col-sm-7 click" data-toggle="modal" data-target="#myModal">
			<text class="text-blue">{{labels[badgegroup.level-1]}}</text><br>{{getDesc(badgegroup.bid,badgegroup.level)}}
		</div>
	</div>
</div>

<!-- Modal -->
<div *ngIf="selectedBG" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-blue" id="myModalLabel">{{getBadgeName(selectedBG.bid)}}</h3><br>
				<text *ngFor="let fc of getFocusOptions(selectedBG.bid)">{{fc}} <input type="checkbox" [checked]="checkFocus(fc,selectedBG.focus)" [value]="fc" (change)="updateChecked(fc, $event, selectedBG)">,  </text>
			</div>
			<div class="modal-body">
				<div (click)="onSelectNewLevel(bl.level)" class="row col col-xs-12 div-list form-inline" *ngFor="let bl of getBLs(selectedBG.bid)">
					<div *ngIf="selectedBG.level!=bl.level">
						<div class="col-sm-2">{{bl.level}}</div>
						<div class="col-sm-10"><text class="text-blue">{{labels[bl.level-1]}}</text><br>{{bl.desc}}</div>
					</div>
					<div *ngIf="selectedBG.level==bl.level" class="row highlight">					
						<div class="col-sm-2">{{bl.level}}</div>
						<div class="col-sm-10"><text class="">{{labels[bl.level-1]}}</text><br>{{bl.desc}}</div>
					</div>
				</div>
			</div>
				<br>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-dismiss="modal" (click)="removeBadgeGroup(selectedBG)">Delete</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<!-- Modal -->
<div *ngIf="addNew" class="modal fade" id="myModal-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header form-inline">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-blue" id="myModalLabel">Add New Badge: </h3><br>
				<label class="lab">Badge: </label>
				<select class="select form-control" [(ngModel)]="newBID"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select><br>
				<br>
				<label class="lab">Focus: </label>
				<text *ngFor="let fc of getFocusOptions(newBID)">{{fc}} <input type="checkbox" [value]="fc" (change)="updateCheckedNew(fc, $event, newFocus)">, </text><br>
			</div>
			<div class="modal-body">
				<div (click)="onSelectedLevel(bl.level)" class="row col col-xs-12 div-list form-inline" *ngFor="let bl of getBLs(newBID)">
					<div *ngIf="selectedLevel!=bl.level">
						<div class="col-sm-2">{{bl.level}}</div>
						<div class="col-sm-10"><text class="text-blue">{{labels[bl.level-1]}}</text><br>{{bl.desc}}</div>
					</div>
					<div *ngIf="selectedLevel==bl.level" class="row highlight">					
						<div class="col-sm-2">{{bl.level}}</div>
						<div class="col-sm-10"><text class="">{{labels[bl.level-1]}}</text><br>{{bl.desc}}</div>
					</div>
				</div>
			</div>
				<br>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal" (click)="addBadgeGroup(selectedLevel)" [disabled]="!newBID || !selectedLevel">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<!-- <br>
<button class="button-pre" *ngIf!="prerequisite" (click)="prerequisite=true;getTotalBadges(newBS.badgegroups)">Prerequisite+</button><br>
<br>

<div *ngIf="prerequisite">
	<h3>Prerequisite: </h3><br>
	<label>Numbers: </label>
	<input class="input-numBadges" type="number" [(ngModel)]="numBadges" placeholder="Number of Badges"> Require {{numBadges}} out of {{total}} Badges<br>

	<div *ngFor="let corebadge of newBS.corebadges">
	<label>CoreBadge: </label>
	<input readonly class="input-corebadge" type="text" placeholder="{{corebadge.badge}} - {{corebadge.level}}"><button class="button-c-delete" (click)="deleteCoreBadgePop(corebadge)">-</button><br>
	</div>

	<label>Add New: </label>
	<select class="select-badge" [(ngModel)]="coreBadge"><option *ngFor="let cbo of getCoreBadgesOptions(newBS.badgegroups)" [value]="cbo">{{cbo}}</option></select><button class="button-s-add" (click)="addCoreBadge(coreBadge)">+</button><br>

	<button (click)="addNumBadges();prerequisite=false">Done</button>
</div> -->

<br>
<div *ngIf!="prerequisite" class="row col-xs-5">
	<button class="btn-big btn btn-default" (click)="addNew=true;resetNewValue()" data-toggle="modal" data-target="#myModal-new">New Badge</button>
	<button class="btn-big btn btn-danger pull-right" (click)="goBack()">Cancel</button>
	<button class="btn-big btn btn-success pull-right" [disabled]="!newBS.name" (click)="addBadgeSet()">Save</button>
</div>
<br>
<br>
<br>

</div>

<div *ngIf="!auth.authenticated()">
   <h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
   {{auth.login()}}
</div>

</div>

