
<div *ngIf="auth.isAdmin()">

<h2 class="text-blue">Add New Badge Set</h2><br>

<!-- <label>Index: </label>
<input class="input-index" type="number" [(ngModel)]="newBS.index" placeholder="Index"><br> -->

<label>*Name: </label>
<input class="input-name" type="text" [(ngModel)]="newBS.name" placeholder=""><br>

<label>Tags: </label>
<input class="input-tags" type="text" [(ngModel)]="newTag" placeholder=""><button class="button-s-add" (click)="addTag(newTag)">+</button><text *ngFor="let tag of newBS.tags">{{tag}} <button class="button-s-delete" (click)="deleteTag(tag)">-</button></text><br>

<label>Tier: </label>
<select class="select-tier" [(ngModel)]="newBS.tier"><option *ngFor="let to of getTiersOptions()" [value]="to">{{to}}</option></select>

<label class="label-grade">Grade: </label>
<select class="select-grade" [(ngModel)]="newBS.grade"><option *ngFor="let go of gradesOptions" [value]="go">{{go}}</option></select><br>

<label>$$: </label>
<text>${{getPay(newBS.tier,newBS.grade)}}K</text><br>

<!-- <br>
<label>InUsed: </label>
<input type="checkbox" [(ngModel)]="newBS.inused" placeholder="InUsed" /><br> -->

<!-- <label>Approved: </label>
<input type="checkbox" [(ngModel)]="newBS.approved" placeholder="Approved" /><br> -->

<br>
<br>
<label>Status: </label>
<select class="select-status" [(ngModel)]="newBS.status"><option *ngFor="let so of statusOptions" [value]="so">{{so}}</option></select><br>

<div *ngFor="let i of nums">
<br>
<label>Badge: </label>
<select class="select-badge" [(ngModel)]="newBS.badgegroups[i].bid"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select>

<label class="label-level">Level: </label>
<select class="select-level" [(ngModel)]="newBS.badgegroups[i].level"><option *ngFor="let lo of getLevelsOptions(newBS.badgegroups[i].bid)" [value]="lo">{{lo}}</option></select><br>
<label>Focus: </label>
<text *ngFor="let fc of getFocusOptions(newBS.badgegroups[i].bid)">{{fc}} <input type="checkbox" [value]="fc" (change)="updateChecked(fc, $event, newBS.badgegroups[i])"></text><br>

<!-- <select class="select-focus" [(ngModel)]="newBS.badgegroups[i].focus" multiple="multiple"><option *ngFor="let fc of getFocusOptions(newBS.badgegroups[i].bid,newBS.badgegroups[i].level)" [value]="fc">{{fc}}</option></select><br> -->

<!-- <input class="input-focus" type="text" [(ngModel)]="newBS.badgegroups[i].focus" placeholder=""><br> -->

<br>
<label>Description: </label>
<textarea readonly class="ta-desc" placeholder="">{{getDesc(newBS.badgegroups[i].bid,newBS.badgegroups[i].level)}}</textarea><br>
</div>

<!-- <br>
<button class="button-pre" *ngIf!="prerequisite" (click)="prerequisite=true;getTotalBadges(newBS.badgegroups)">Prerequisite+</button><br>
<br>

<div *ngIf="prerequisite">
	<h3>Prerequisite: </h3><br>
	<label>Numbers: </label>
	<input class="input-numBadges" type="number" [(ngModel)]="numBadges" placeholder="Number of Badges"> Require {{numBadges}} out of {{total}} Badges<br>

	<div *ngFor="let corebadge of newBS.corebadges">
	<label>CoreBadge: </label>
	<input readonly class="input-corebadge" type="text" placeholder="{{corebadge.badge}} - {{corebadge.level}}"><button class="button-c-delete" (click)="deleteCoreBadgePop(corebadge)">-</button><br>
	</div>

	<label>Add New: </label>
	<select class="select-badge" [(ngModel)]="coreBadge"><option *ngFor="let cbo of getCoreBadgesOptions(newBS.badgegroups)" [value]="cbo">{{cbo}}</option></select><button class="button-s-add" (click)="addCoreBadge(coreBadge)">+</button><br>

	<button (click)="addNumBadges();prerequisite=false">Done</button>
</div> -->

<div *ngIf!="prerequisite">
	<button class="button-save" [disabled]="!newBS.name" (click)="addBadgeSet()">Save</button>
	<button class="button-cancel" (click)="goBack()">Cancel</button>
</div>
<br>
<br>
<br>

</div>

<h3 *ngIf!="auth.isAdmin()"><i>You are not an admin, please login as an admin to continue!</i></h3>


