h1 {
  font-size: 1.8em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.6em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
label {
  display: inline-block;
  width: 8em;
  color: #999;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 20px;
  color: #999;
}
textarea {
  vertical-align: top;
  font-size: 1em;
  color: #999;
  width: 350px;
  height: 150px;
  padding-left: .4em;
  padding-top: .4em;
  margin-bottom: 20px;
}
button {
  width: 100px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 1em;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}
li {
margin-left: 0;
}
.input-index{
  width: 300px;
}
.input-tier{
  width: 300px;
}
.input-gradea{
  width: 300px;
}
.input-gradeb{
  width: 300px;
}
.input-gradec{
  width: 300px;
}
.input-graded{
  width: 300px;
}
.input-gradee{
  width: 300px;
}
.input-gradef{
  width: 300px;
}
.ta-judgement{
  border: 1px solid #cccccc;
  width: 300px;
  height: 100px;
}
.ta-expertise{
  border: 1px solid #cccccc;
  width: 300px;
  height: 100px;
}
.button-small {
  width: 45px;
}
.button-add {
  position: relative; 
  left: 30%;
  width: 100px;
}
.button-cancel {
  position: relative; 
  left: 30%;
}


