
<div *ngIf="auth.isAdmin()">

<div *ngIf="staff">
	<h2>Edit Person - {{staff.fname}} {{staff.lname}}</h2><br>
	
<!-- 	<label>Index: </label>
	<input class="input-index" type="number" [(ngModel)]="staff.index" placeholder="Index" /><br> -->

	<label>FName: </label>
	<input class="input-fname" type="text" [(ngModel)]="staff.fname" placeholder="First Name"><br>

	<label>LName: </label>
	<input class="input-lname" type="text" [(ngModel)]="staff.lname" placeholder="Last Name"><br>

	<label>Position: </label>
	<input class="input-pos" type="text" [(ngModel)]="staff.position" placeholder="Position"><br>

<!-- 	<label>Salary: </label>
	<input class="input-salary" type="number" [(ngModel)]="staff.salary" placeholder="0"> K<br> -->

	<label>Email: </label>
	<input class="input-email" type="text" [(ngModel)]="staff.email" placeholder="Email"><br>

<!-- 	<label>Phone: </label>
	<input class="input-phone" type="text" [(ngModel)]="staff.phone" placeholder="Phone"><br> -->

	<label>Status: </label>
	<select class="select-status" [(ngModel)]="staff.status"><option *ngFor="let so of statusOptions" [value]="so">{{so}}</option></select><br>

	<label>Brief: </label>
	<textarea class="ta-brief" type="text" [(ngModel)]="staff.brief" placeholder="Brief">{{staff.brief}}</textarea><br>

<!-- 	<label>Others: </label>
	<input class="input-others" type="text" [(ngModel)]="staff.others" placeholder="Others" /><br> -->

	<div class="userbgroup-block" *ngFor="let userbgroup of staff.userbgroups">
		<label>Badge: </label>
		<select class="select-badge" [(ngModel)]="userbgroup.bid"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select>

		<label class="label-level">Level: </label>
		<select class="select-level" [(ngModel)]="userbgroup.level"><option *ngFor="let lo of getLevelsOptions(userbgroup.bid)" [value]="lo">{{lo}}</option></select><br>

		<label>Focus: </label>
		<text *ngFor="let fc of getFocusOptions(userbgroup.bid)">{{fc}} <input class="checkbox" type="checkbox" [checked]="checkFocus(fc,userbgroup.focus)" [value]="fc" (change)="updateChecked(fc, $event, userbgroup)"> </text><br>

		<br>
		<label>Description: </label>
		<textarea readonly class="ta-desc" placeholder="Description">{{getDesc(userbgroup.bid,userbgroup.level)}}</textarea><br>

		<label>Approved: </label>
		<input type="checkbox" [(ngModel)]="userbgroup.status" placeholder="Status" />

		<button class="button-s-delete" (click)="deleteBadgeGroupPop(userbgroup)">-</button>
		
	</div>

	<br>
	<button class="button-s-add" *ngIf!="active" (click)="active=true">+</button><br>
	<br>

	<div *ngIf="active">
		<h3>Add New Badge</h3><br>
		<label>Badge: </label>
		<select class="select-badge" [(ngModel)]="newBID"><option *ngFor="let bo of getNewBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select>

		<label class="label-level">Level: </label>
		<select class="select-level" [(ngModel)]="newLevel"><option *ngFor="let lo of getLevelsOptions(newBID)" [value]="lo">{{lo}}</option></select><br>

		<label>Focus: </label>
		<text *ngFor="let fc of getFocusOptions(newBID)">{{fc}} <input class="checkbox" type="checkbox" [value]="fc" (change)="updateCheckedNew(fc, $event, newFocus)"> </text><br>

		<br>
		<label>Description: </label>
		<textarea readonly class="ta-desc" placeholder="Description">{{getDesc(newBID,newLevel)}}</textarea><br>

		<label>Approved: </label>
		<input type="checkbox" [(ngModel)]="newStatus" placeholder="Status" /><br>

		<button class="button-l-save" (click)="addBadgeGroup();active=false">Save</button>
		<button class="button-l-cancel" (click)="active=false">Cancel</button><br>
	</div>
	<div *ngIf!="active">
		<button class="button-add" (click)="addStaff()">New</button>
		<button class="button-delete" (click)="deleteStaffPop()">Delete</button>
		<button class="button-save" [disabled]="!staff.fname||!staff.lname" (click)="updateStaff()">Save</button>
		<button class="button-cancel" (click)="goBack()">Cancel</button>
	</div>
	<br>
	<br>
	<br>


	<br>
	<br>
	<br>

</div>

</div>

<h3 *ngIf!="auth.isAdmin()"><i>You are not an admin, please login as an admin to continue!</i></h3>



