
<div *ngIf="auth.isAdmin()">

<h2>Badge Admin Page</h2>

<table class="table-staffs">
  <tr>
    <th class="th-name">Name</th>
    <th class="th-bg">Badges</th>
    <th class="th-topbs">Top BadgeSet</th>
  </tr>
  <tr *ngFor="let staff of staffs | filter:query">
    <td (click)="onSelect(staff);toStaffEdit(staff._id)" class="staff">{{staff.fname}} {{staff.lname}}</td>
    <td class="td-badges">
  	<div *ngFor="let userbgroup of staff.userbgroups">
  	<li>
  	<text class="tooltip" (click)="toBadgeDetail(userbgroup.badge)"><text class="badge">{{userbgroup.badge}} {{userbgroup.level}}</text><text *ngIf="!userbgroup.status" class="check-pending"> ??</text><!-- <text *ngIf="userbgroup.status" class="check-approved"> **</text> --><span class="tooltiptext"><li> <b>Level {{userbgroup.level-1}}: </b>{{getDesc(userbgroup.badge, userbgroup.level-1)}}</li><br><li><b><u>Level {{userbgroup.level}}</u>: </b>{{getDesc(userbgroup.badge, userbgroup.level)}}</li><br><li><b>Level {{userbgroup.level+1}}: </b>{{getDesc(userbgroup.badge, userbgroup.level+1)}}</li></span></text>
    <button *ngIf="!userbgroup.status" class="button-approve" (click)="userbgroup.status=true;updateStaff(staff)">Approve</button>
  	</li>
  	</div>
  	</td>
  	<td class="badgeset" (click)="toBSDetail(getTopStaffBS(staff.userbgroups)[0])">{{getTopStaffBS(staff.userbgroups)[1]}}</td>
  </tr>
</table>

<h3 *ngIf!="auth.isAdmin()"><i>You are not an admin, please login as an admin to continue!</i></h3>
<br>
<br>
<br>


