.table-big {
  width: 65%;
  border: 0;
  background-color: white;
  text-align: top;
  margin-bottom: 0;
}
.table-big td {
  border: 0;
  vertical-align: top;
}
.table-big tr {
  border: 0;
}
.table-big th {
  border: 0;
}
.table-big tr:nth-child(odd) {
  background-color: white;
}
.table-big tr:nth-child(even) {
  background-color: white;
}
.select-bs {
  background: transparent;
  width: 68%;
  height: 30px;
  color: #999;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 3;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  margin-right: 0;
}
.table-c {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  border: 0;
}
.table-c td {
  border: 1px solid grey;
}
.table-c tr {
  line-height: 25px; 
}
.td-center {
  text-align: center;
}
.btn-big {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.btn-b {
  width: 200px;
  margin-bottom: 10px;
}
.btn-apply {
  width: 110px;
  margin-bottom: 20px;
}
.btn-apply:hover{
  color: white;
  background-color: #039be5;
}
.input{
  width: 300px;
}
.input-medium{
  width: 250px;
}
.btn-n {
  margin-top: 20px;
  margin-bottom: 10px;
}
.input-small {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.3em;
}
.textarea-small {
  vertical-align: top;
  width: 300px;
  background-color: transparent;
}
.textarea {
  width: 350px;
  background-color: transparent;
}
.select-badge {
  width: 200px;
}
.label-level {
  width: 6em;
  margin-left: 20px;
}
.btn-brief {
  vertical-align: top;
}
.lab {
  width: 5em;
}
.select {
  width: 200px;
}
.modal-body {
  display: inline-table;
  padding-top: 5px;
}
.div-list {
  min-height: 60px;
  margin-left: 1px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px #ddd solid;
}
.div-list:hover{
  background-color: #eee;
}
.highlight {
  min-height: 60px;
  color: white;
  background-color: #039be5;
  margin-left: 1px;
  border-radius: 4px;
  /*border: 3px limegreen solid;*/
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-light {
  font-style: normal;
}
.right {
  margin-right: 50px;
}
.btn-compare {
  width: 100px;
  margin-right: 5px;
}
.label-bs1 {
  font-size: 1em;
  width: 8em;
  margin-bottom: 20px;
}
.label-bs2 {
  font-size: 1em;
}
.btn-back {
  width: 100px;
  margin-bottom: 10px;
}