.btn-small {
  margin-right: 5px;
}
.btn-big {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.btn-apply {
  width: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input{
  width: 310px;
}
.input-small {
  width: 150px;
  margin-right: 5px;
}
.textarea {
  width: 350px;
  background-color: transparent;
}
.select-badge {
  width: 200px;
  margin-right: 20px;
}
.label-level {
  width: 6em;
}
