.btn-small {
  margin-right: 5px;
}
.btn-big {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.btn-b {
  width: 200px;
}
.btn-apply {
  width: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input{
  width: 300px;
}
.input-medium{
  width: 250px;
}
.input-small {
  width: 150px;
  margin-right: 5px;
}
.textarea-small {
  vertical-align: top;
  width: 300px;
  background-color: transparent;
}
.textarea {
  width: 350px;
  background-color: transparent;
}
.select-badge {
  width: 200px;
}
.label-level {
  width: 6em;
  margin-left: 20px;
}
.btn-brief {
  vertical-align: top;
}
.lab {
  width: 6em;
}
.select {
  width: 200px;
}
.modal-body {
  display: inline-table;
  padding-top: 5px;
}
.div-list {
  min-height: 60px;
  margin-left: 1px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px #ddd solid;
}
.div-list:hover{
  background-color: #eee;
}
.highlight {
  min-height: 60px;
  color: white;
  background-color: #039be5;
  margin-left: 1px;
  border-radius: 4px;
  /*border: 3px limegreen solid;*/
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-light {
  font-style: normal;
}