<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1">
      <span *ngIf="!checkProfile()">Profile</span>
      <span *ngIf="checkProfile()">You</span>
   </h1>
</div>

<div class="margin col-md-10 col-md-offset-1">
<!-- Content -->
<div *ngIf="auth.authenticated()">

	<div class="row col-xs-5 form-inline" *ngIf="!checkProfile()">
		<h3><i>Please create a user profile!</i></h3>
		<br>
		<label>*FName: </label>
		<input class="input form-control" type="text" [(ngModel)]="newUser.fname" placeholder="First Name"><br>
		<br>
		<label>*LName: </label>
		<input class="input form-control" type="text" [(ngModel)]="newUser.lname" placeholder="Last Name"><br>
		<br>
		<label>Position: </label>
		<input class="input form-control" type="text" [(ngModel)]="newUser.position" placeholder="Position"><br>
		<br>
<!-- 		<label>Brief: </label>
		<textarea class="textarea-small form-control" rows="5" type="text" [(ngModel)]="newUser.brief" placeholder="Brief"></textarea><br>
		<br> -->

		<button class="btn btn-big btn-danger pull-right" (click)="location.reload()">Cancel</button>
		<button class="btn btn-big btn-success pull-right" [disabled]="!newUser.fname||!newUser.lname" (click)="addNewUser()">Save</button>
	</div>

	<div *ngIf="checkProfile() && staff">

	<div *ngIf="!userName">
	<h2 class="click text-blue" (click)="userName=true"><i>{{staff.fname}} {{staff.lname}}</i></h2>
	</div>

	<div *ngIf="userName" class="form-inline">
	<input class="border input-small form-control" type="text" [(ngModel)]="staff.fname">
	<input class="border input-small form-control" type="text" [(ngModel)]="staff.lname">
	<button class="btn btn-small btn-n btn-success" (click)="userName=false;updateStaff()">Y</button>
	<button class="btn btn-small btn-n btn-danger" (click)="userName=false;getStaffByEmail()">N</button>
	</div>
	<br>

	<div *ngIf="!pos" class="form-inline">
	<label class="click" (click)="pos=true">Position: </label>
	<text class="click text-blue" (click)="pos=true">{{staff.position}}</text>
	</div>

	<div *ngIf="pos" class="form-inline">
	<label>Position: </label>
	<input class="input-medium form-control" type="text" [(ngModel)]="staff.position">
	<button class="btn btn-small btn-success" (click)="pos=false;updateStaff()">Y</button>
	<button class="btn btn-small btn-danger" (click)="pos=false;getStaffByEmail()">N</button>
	</div>
	<br>

<!-- 	<label>Email: </label>
	<text>{{staff.email}}</text><br>
	<br> -->

	<label>Top BSet: </label>
	<text class="click text-blue" *ngIf="getTopStaffBS(staff.userbgroups)[0]" (click)="toBSDetail(getTopStaffBS(staff.userbgroups)[0])">{{getTopStaffBS(staff.userbgroups)[1]}} ( {{getTopStaffBS(staff.userbgroups)[2]}}-{{getTopStaffBS(staff.userbgroups)[3]}} ${{getPay(getTopStaffBS(staff.userbgroups)[2],getTopStaffBS(staff.userbgroups)[3])}}K )</text><br>
	<br>

	<label>Badge Sets: </label>
	<text *ngFor="let bs of getSortStaffBS(staff.userbgroups)">
		<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}, </uli>
	</text><br>

<!-- 	<div *ngIf="!brief" class="form-inline">
	<label class="click" (click)="brief=true">Brief: </label>
	<textarea readonly class="textarea-small form-control" rows="5" (click)="brief=true">{{staff.brief}}</textarea>
	</div>

	<div *ngIf="brief" class="form-inline">
	<label>Brief: </label>
	<textarea class="textarea-small form-control" rows="5" type="text" [(ngModel)]="staff.brief">{{staff.brief}}</textarea>
	<button class="btn btn-small btn-brief btn-success" (click)="brief=false;updateStaff()">Y</button>
	<button class="btn btn-small btn-brief btn-danger" (click)="brief=false;getStaffByEmail()">N</button>
	</div>
	<br> -->

	<div *ngIf="!showCompare">

	<div class="row col-xs-12">
		<br>
		<button class="btn-compare btn-add btn btn-default" (click)="showCompare=true;getComBS()">Compare</button>
		<button class="btn btn-apply btn-default pull-right" (click)="addNew=true;resetNewValue();more=false" data-toggle="modal" data-target="#myModal-new">+ Apply New</button>
	</div>

	<div *ngIf="!more">
		<div class="row col col-xs-12 header hidden-xs">
		  <div class="col-xs-3">Badge</div>
		  <!-- <div class="col col-xs-2">Focus</div> -->
		  <div class="col-xs-6">Description</div>
		  <div class="col-xs-2">Badge Set</div>
		  <div class="col-xs-1">Status</div>
		</div>

		<div (click)="onSelect(userbgroup)" class="row col col-xs-12 div-list-item" *ngFor="let userbgroup of staff.userbgroups">
			<div class="col-sm-3 col-xs-12" (click)="toBadgeDetail(userbgroup.bid)">
				<button class="btn btn-b btn-primary wrap">{{getBadgeName(userbgroup.bid)}} {{userbgroup.level}}</button><br>
				<text class="click text-blue" *ngIf="userbgroup.focus.length!=0">[{{userbgroup.focus}}]</text>
			</div>
<!-- 			<div class="col col-sm-2">
				<text *ngIf="userbgroup.focus.length!=0">[{{userbgroup.focus}}]</text>
			</div> -->
			<div class="col-sm-6 col-xs-12" data-toggle="modal" data-target="#myModal">
				<text class="text-blue">{{labels[userbgroup.level-1]}}</text><br>{{getDesc(userbgroup.bid,userbgroup.level)}}
			</div>
			<div class="click text-blue col-sm-2 col-xs-12">
				<div *ngFor="let bs of findBadgeSet(staff.userbgroups,userbgroup.bid,userbgroup.level)">
					<uli (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
	  		</div>
	  		<div class="col-sm-1 col-xs-12" data-toggle="modal" data-target="#myModal">
	  			<i><text class="text-green" *ngIf="userbgroup.approved">{{userbgroup.approved | approved_pending}}</text><text class="text-red" *ngIf="!userbgroup.approved">{{userbgroup.approved | approved_pending}}</text></i>
	  		</div>
		</div>
	</div>

	<div *ngIf="more">
		<div class="row col col-xs-12 header hidden-xs">
		  <div class="col-xs-3">Badge</div>
		  <!-- <div class="col col-xs-2">Focus</div> -->
		  <div class="col-xs-6">Description</div>
		  <div class="col-xs-2">Badge Set</div>
		  <div class="col-xs-1">Status</div>
		</div>

		<div class="row col col-xs-12 div-list-item" *ngFor="let userbgroup of getMoreBadges(staff.userbgroups)">
			<div (click)="more=false">
			<div class="col-sm-3 col-xs-12" (click)="toBadgeDetail(userbgroup.bid)">
				<text *ngIf="userbgroup.current" class="click text-blue text-big">{{getBadgeName(userbgroup.bid)}} {{userbgroup.level}}</text><text *ngIf="!userbgroup.current" class="click text-big">{{getBadgeName(userbgroup.bid)}} {{userbgroup.level}}</text><br>
				<text *ngIf="userbgroup.current && userbgroup.focus.length!=0" class="click text-blue"> [{{userbgroup.focus}}]</text>
			</div>
<!-- 			<div class="col col-sm-2">
				<text *ngIf="userbgroup.current && userbgroup.focus.length!=0" class="text-blue"> [{{userbgroup.focus}}]</text>
			</div> -->
			<div class="col-sm-6 col-xs-12"><text *ngIf="userbgroup.current" class="text-blue">{{labels[userbgroup.level-1]}}</text><text *ngIf="!userbgroup.current">{{labels[userbgroup.level-1]}}</text><br>{{getDesc(userbgroup.bid,userbgroup.level)}}</div>
			<div class="col-sm-2 col-xs-12">
				<div *ngFor="let bs of findBadgeSet(staff.userbgroups,userbgroup.bid,userbgroup.level)">
					<uli (click)="toBSDetail(bs._id)" *ngIf="userbgroup.current" class="click text-blue">{{bs.name}}</uli>
				</div>
	  		</div>
	  		<div class="col-sm-1 col-xs-12">
	  			<i><text class="text-green" *ngIf="userbgroup.approved && userbgroup.current">{{userbgroup.approved | approved_pending}}</text><text class="text-red" *ngIf="!userbgroup.approved && userbgroup.current">{{userbgroup.approved | approved_pending}}</text></i>
	  		</div>
			</div>
		</div>
	</div>

	<div *ngIf="staff.userbgroups.length!=0" class="row col-xs-12">
		<button *ngIf="!more" class="btn btn-big btn-default pull-right" (click)="more=true">Show More</button>
		<button *ngIf="more" class="btn btn-big btn-primary pull-right" (click)="more=false">Show Less</button>
	</div>

<!-- 	<div *ngIf="active" class="row col col-xs-6 form-inline">

		<h3 class="text-blue">Apply New Badge</h3><br>

		<label>Badge: </label>
		<select class="select-badge form-control" [(ngModel)]="newBID"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select>
		<label class="label-level">Level: </label>
		<select class="form-control" [(ngModel)]="newLevel"><option *ngFor="let lo of getLevelsOptions(newBID)" [value]="lo">{{lo}}</option></select><br>
		<br>

		<label>Focus: </label>
		<text *ngFor="let fc of getFocusOptions(newBID)">{{fc}} <input type="checkbox" [value]="fc" (change)="updateCheckedNew(fc, $event, newFocus)">, </text><br>

		<label>Description: </label>
		<textarea readonly class="textarea form-control" rows="5" placeholder="">{{getDesc(newBID,newLevel)}}</textarea><br>
		<br>

		<button class="btn btn-big btn-danger pull-right" (click)="active=false">Cancel</button>
		<button class="btn btn-big btn-success pull-right" (click)="addBadgeGroup();active=false">Apply</button><br>
		<br>
		<br>
	</div> -->

	<!-- Modal -->
	<div *ngIf="selectedUG" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title text-blue" id="myModalLabel">{{getBadgeName(selectedUG.bid)}}</h3><br>
					<!-- <label class="lab">Focus: </label> -->
					<text *ngFor="let fc of getFocusOptions(selectedUG.bid)">{{fc}} <input type="checkbox" onclick="return false" [checked]="checkFocus(fc,selectedUG.focus)" [value]="fc">,  </text>
				</div>
				<div class="modal-body">
					<div (click)="onSelectNewLevel(bl.level)" class="row col col-xs-12 div-list form-inline" *ngFor="let bl of getBLs(selectedUG.bid)">
						<div *ngIf="selectedUG.level!=bl.level">
							<div class="col-sm-2">{{bl.level}}</div>
							<div class="col-sm-10"><text class="text-blue">{{labels[bl.level-1]}}</text><br>{{bl.desc}}</div>
						</div>
						<div *ngIf="selectedUG.level==bl.level" class="row highlight">					
							<div class="col-sm-2">{{bl.level}}</div>
							<div class="col-sm-10"><text class="">{{labels[bl.level-1]}}</text><br>{{bl.desc}}</div>
						</div>
					</div>
				</div>
 				<br>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->

	<!-- Modal -->
	<div *ngIf="addNew" class="modal fade" id="myModal-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header form-inline">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title text-blue" id="myModalLabel">Apply New Badge: </h4><br>
					<label class="lab">Badge: </label>
					<select class="select form-control" [(ngModel)]="newBID"><option *ngFor="let bo of getBadgesOptions()" [value]="bo[1]">{{bo[0]}}</option></select><br>
					<br>
					<label class="lab">Focus: </label>
					<text *ngFor="let fc of getFocusOptions(newBID)">{{fc}} <input type="checkbox" [value]="fc" (change)="updateCheckedNew(fc, $event, newFocus)">, </text><br>
				</div>
				<div class="modal-body">
					<div (click)="onSelectedLevel(bl.level)" class="row col col-xs-12 div-list form-inline" *ngFor="let bl of getBLs(newBID)">
						<div *ngIf="selectedLevel!=bl.level">
							<div class="col-sm-2">{{bl.level}}</div>
							<div class="col-sm-10"><text class="text-blue">{{labels[bl.level-1]}}</text><br>{{bl.desc}}</div>
						</div>
						<div *ngIf="selectedLevel==bl.level" class="row highlight">					
							<div class="col-sm-2">{{bl.level}}</div>
							<div class="col-sm-10"><text class="">{{labels[bl.level-1]}}</text><br>{{bl.desc}}</div>
						</div>
					</div>
				</div>
 				<br>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger pull-left" data-dismiss="modal" (click)="resetNewValue()">Cancel</button>
					<button type="button" class="btn btn-success" data-dismiss="modal" (click)="addUserBGroup(selectedLevel)" [disabled]="!newBID || !selectedLevel">Save</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->

	</div>

	</div>

	<div *ngIf="showCompare">
		<br>
		<div class="row col-xs-7">
		<button class="btn btn-add btn-back btn-default" (click)="showCompare=false">Back</button>
		</div>
		<div class="row col-xs-12">
		<table *ngIf="badgesets" class="table-big">
			<tr>
				<td>
					<label class="label-bs1">Current Badges: </label>
					<table class="table-c">
					<tr>
						<td>
						<text class="click text-blue" *ngIf="getTopStaffBS(staff.userbgroups)[0]" (click)="toBSDetail(getTopStaffBS(staff.userbgroups)[0])">{{getTopStaffBS(staff.userbgroups)[1]}} ( {{getTopStaffBS(staff.userbgroups)[2]}}-{{getTopStaffBS(staff.userbgroups)[3]}} ${{getPay(getTopStaffBS(staff.userbgroups)[2],getTopStaffBS(staff.userbgroups)[3])}}K )</text>
						<text *ngIf="!getTopStaffBS(staff.userbgroups)[0]">None</text>
						</td>
					</tr>
					<tr>
					  <td>
					  <div *ngFor="let ubg of staff.userbgroups">
					  <uli class="click text-blue" (click)="toBadgeDetail(ubg.bid)">
					  <text *ngIf="ubg.focus.length==0">{{getBadgeName(ubg.bid)}} {{ubg.level}}</text>
					  <text *ngIf="ubg.focus.length!=0">{{getBadgeName(ubg.bid)}} {{ubg.level}} [{{ubg.focus}}]</text>
					  </uli>
					  </div>
					  </td>
					</tr>
					</table>
				</td>
				<td>
					<label class="label-bs2">Compare to: </label>
					<select class="select-bs" [(ngModel)]="bsname2"><option *ngFor="let badgeset of badgesets" [value]="badgeset.name">{{badgeset.name}}</option></select>
					<table class="table-c">
					<tr>
						<td class="click text-blue" (click)="toBSDetail(getBS(bsname2)._id)">{{getBS(bsname2).name}}  ({{getBS(bsname2).tier}}-{{getBS(bsname2).grade}} ${{getBS(bsname2).pay}}K)</td>
					</tr>
					<tr>
					  <td>
					  <div *ngFor="let bg of compareBS(bsname2)">
					  <uli (click)="toBadgeDetail(bg.bid)">
					  <text *ngIf="bg.status" class="click text-red">
					  		<text *ngIf="bg.focus.length==0">{{getBadgeName(bg.bid)}} {{bg.level}}</text>
					  		<text *ngIf="bg.focus.length!=0">{{getBadgeName(bg.bid)}} {{bg.level}} [{{bg.focus}}]</text>
					  	</text>
					  <text *ngIf="!bg.status" class="click text-grey">
					  		<text *ngIf="bg.focus.length==0">{{getBadgeName(bg.bid)}} {{bg.level}}</text>
					  		<text *ngIf="bg.focus.length!=0">{{getBadgeName(bg.bid)}} {{bg.level}} [{{bg.focus}}]</text>
					  </text>
					  </uli>
					  </div>
					  </td>
					</tr>
					</table>
				</td>
			</tr>
		</table>
		</div>
	</div>

</div>

<div *ngIf="!auth.authenticated()">
	<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
	{{auth.login()}}
</div>

</div>
