
<div *ngIf="auth.authenticated()">

<div *ngIf="badgecats">
	<h2>Badge Category</h2>
	<input [(ngModel)]="query" placeholder="Search for">
	<button class="button-back" (click)="toBadges()">Show Badges</button>
<!-- 	<button class="button-more" *ngIf!="active && auth.isAdmin()" (click)="active=true">></button> -->
	<button class="button-add" *ngIf="auth.isAdmin()" (click)="addBadgeCat()">+</button>
	<!-- <button class="button-less" *ngIf="active" (click)="active=false"><</button> -->
	<br>
</div>

<div *ngIf="!badgecats && auth.isAdmin()" >
	<h2>Add New Badge Category</h2>
	<input [(ngModel)]="query" placeholder="Search for">
	<button class="button-add2" (click)="addBadgeCat()">+</button><br>
</div>

<div *ngIf="!badgecats && !auth.isAdmin()" >
	<h2>There is NO Badge Category!</h2>
	<br>
</div>			

<table class="table-badgecats">
	<tr>
		<th class="th-name">Subcategory</th>
		<th class="th-bg">Badges</th>
		<th class="th-root">Category</th>
		<th class="th-last"></th>
	</tr>
	<tr *ngFor="let badgecat of badgecats | filter:query">
		<td class="badgecat">{{badgecat.name}}</td>
		<td class="td-badges">
			<div *ngFor="let bgroup of badgecat.bgroups">
			<li>
			<text class="badge">{{bgroup.badge}} {{bgroup.levels}}</text>
			</li>
			</div>
		</td>
		<td class="td-root">{{badgecat.root}}</td>
		<td *ngIf="auth.isAdmin()" class="td-last"><button class="button-s-x" (click)="deleteBadgeCatPop(badgecat._id)">X</button><button class="button-s-e" (click)="toBCatEdit(badgecat._id)">E</button></td>
	</tr>
</table>

</div>

<br>
<div *ngIf="!auth.authenticated()">
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
{{auth.login()}}
</div>




