<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1" >
      <span *ngIf="tiers">Tiers</span>
      <span *ngIf="!tiers && auth.isAdmin()" >Add New Tier</span>
      <span *ngIf="!tiers && !auth.isAdmin()">There is NO Tier!</span>
   </h1>
</div>

<!-- Content -->
<div class="margin col-md-10 col-md-offset-1">

<div *ngIf="auth.authenticated()">

<!-- <div *ngIf="auth.isAdmin()"> -->

    <div class="form-inline">
      <div *ngIf="tiers" class="form-group">
       	<input class="form-control" [(ngModel)]="query" placeholder="Search for">
			<button class="btn btn-add btn-default" *ngIf!="toPay" (click)="toPay=true;tedit=false">Show BadgeSet</button>
			<button class="btn btn-big btn-add btn-default" *ngIf="toPay" (click)="toPay=false;tedit=false">Show $$</button>
			<button class="btn btn-add btn-s btn-default" *ngIf="auth.isAdmin()" (click)="addTier()">+</button>
      </div>

      <div class="form-group" *ngIf="!tiers && auth.isAdmin()">
        <input class="form-control" [(ngModel)]="query" placeholder="Search for">
		<button class="btn btn-add btn-s btn-default" (click)="addTier()">+</button>
      </div>
   </div>
   <br>

   <br>
   <div *ngIf!="toPay">
		<div *ngIf="tiers" class="row col col-xs-12 header hidden-xs">
			<div class=" col-xs-1">Tier</div>
			<div class=" col-xs-1">A</div>
			<div class=" col-xs-1">B</div>
			<div class=" col-xs-1">C</div>
			<div class=" col-xs-1">D</div>
			<div class=" col-xs-1">E</div>
			<div class=" col-xs-1">F</div>
			<div class=" col-xs-2">Judgement</div>
			<div class=" col-xs-2">Expertise</div>
			<div class=" col-xs-1"></div>
		</div>
		<div class="row col col-xs-12 div-list-item form-inline" *ngFor="let tier of tiers | filter:query">
			<div *ngIf="!auth.isAdmin()" class="col-sm-1">
				<button class="btn btn-tier btn-primary wrap" (click)="toPay=true">{{tier.tier}}</button>
			</div>

			<div *ngIf="auth.isAdmin()">
			<div *ngIf="!et || !tedit || !(selectedTier._id == tier._id)" class="col-sm-1">
				<button class="btn btn-tier btn-primary wrap" (click)="onSelect(tier,'tier');checkAdmin()">{{tier.tier}}</button>
			</div>
			<div *ngIf="et && tedit && selectedTier._id == tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.tier"></div>
			</div>

			<div *ngIf="!ea || !tedit || !(selectedTier._id == tier._id)" (click)="onSelect(tier,'a');checkAdmin()" class="col-sm-1">${{tier.grades[0]}}K</div>
			<div *ngIf="ea && tedit && selectedTier._id == tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[0]"> K</div>

			<div *ngIf="!eb || !tedit || !(selectedTier._id == tier._id)" (click)="onSelect(tier,'b');checkAdmin()" class="col-sm-1">${{tier.grades[1]}}K</div>
			<div *ngIf="eb && tedit && selectedTier._id == tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[1]"> K</div>

			<div *ngIf="!ec || !tedit || !(selectedTier._id == tier._id)" (click)="onSelect(tier,'c');checkAdmin()" class="col-sm-1">${{tier.grades[2]}}K</div>
			<div *ngIf="ec && tedit && selectedTier._id == tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[2]"> K</div>

			<div *ngIf="!ed || !tedit || !(selectedTier._id == tier._id)" (click)="onSelect(tier,'d');checkAdmin()" class="col-sm-1">${{tier.grades[3]}}K</div>
			<div *ngIf="ed && tedit && selectedTier._id == tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[3]"> K</div>

			<div *ngIf="!ee || !tedit || !(selectedTier._id == tier._id)" (click)="onSelect(tier,'e');checkAdmin()" class="col-sm-1">${{tier.grades[4]}}K</div>
			<div *ngIf="ee && tedit && selectedTier._id == tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[4]"> K</div>

			<div *ngIf="!ef || !tedit || !(selectedTier._id == tier._id)" (click)="onSelect(tier,'f');checkAdmin()" class="col-sm-1">${{tier.grades[5]}}K</div>
			<div *ngIf="ef && tedit && selectedTier._id == tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[5]"> K</div>

			<div *ngIf="!ejud || !tedit || !(selectedTier._id == tier._id)" (click)="onSelect(tier,'jud');checkAdmin()" class="col-sm-2">{{tier.judgement}}</div>
			<div *ngIf="ejud && tedit && selectedTier._id == tier._id" class="col-sm-2"><textarea class="textarea form-control" rows="5" [(ngModel)]="tier.judgement"></textarea></div>

			<div *ngIf="!eexp || !tedit || !(selectedTier._id == tier._id)" (click)="onSelect(tier,'exp');checkAdmin()" class="col-sm-2">{{tier.expertise}}</div>
			<div *ngIf="eexp && tedit && selectedTier._id == tier._id" class="col-sm-2"><textarea class="textarea form-control" rows="5" [(ngModel)]="tier.expertise"></textarea></div>

			<div *ngIf="tedit && selectedTier._id == tier._id" class="col-sm-1"><button class="btn btn-small btn-success" (click)="updateTier(tier);resetEdit()">Y</button><button class="btn btn-small btn-danger" (click)="getTiers();resetEdit()">N</button><button class="btn btn-del btn-s btn-default" (click)="deleteTierPop(tier._id)">X</button></div>

		</div>	
	</div>

    <div *ngIf="toPay">
		<div *ngIf="tiers" class="row col-xs-12 header hidden-xs">
			<div class=" col-xs-1">Tier</div>
			<div class=" col-xs-2">A</div>
			<div class=" col-xs-2">B</div>
			<div class=" col-xs-2">C</div>
			<div class=" col-xs-2">D</div>
			<div class=" col-xs-2">E</div>
			<div class=" col-xs-1">F</div>
		</div>

		<div class="row col-xs-12 div-list-item" *ngFor="let tier of tiers | filter:query">
			<div class="text-big col-sm-1 col-xs-12">{{tier.tier}}</div>
			<div class="col-sm-2 col-xs-12" (click)="onSelect(tier)">
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[0])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
			<div class="col-sm-2 col-xs-12" (click)="onSelect(tier)">		
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[1])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
			<div class="col-sm-2 col-xs-12" (click)="onSelect(tier)">		
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[2])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
			<div class="col-sm-2 col-xs-12" (click)="onSelect(tier)">
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[3])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
			<div class="col-sm-2 col-xs-12" (click)="onSelect(tier)">		
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[4])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
			<div class="col-sm-1 col-xs-12" (click)="onSelect(tier)">		
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[5])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
		</div>
	</div>

<!-- </div> -->

</div>

<br>
<div *ngIf!="auth.authenticated()">
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
{{auth.login()}}
</div>

</div>
