.btn-small {
	margin-right: 5px;
	margin-bottom: 5px;
}
.btn-big {
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 20px;
}
.input-small {
	padding-left: 5px;
	padding-right: 0px;
	width: 40px;
	margin-right: 0px;
}
