<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1" >
      <span *ngIf="tiers">Tiers</span>
      <span *ngIf="!tiers && auth.isAdmin()" >Add New Tier</span>
      <span *ngIf="!tiers && !auth.isAdmin()">There is NO Tier!</span>
   </h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

<div *ngIf="auth.authenticated()">

<!-- <div *ngIf="auth.isAdmin()"> -->

    <div class="form-inline">
      <div *ngIf="tiers" class="form-group">
        <input class="form-control" [(ngModel)]="query" placeholder="Search for">
		<button class="btn btn-primary" *ngIf!="toPay" (click)="toPay=true;tedit=false">Show BadgeSet</button>
		<button class="btn btn-primary" *ngIf="toPay" (click)="toPay=false;tedit=false">Show $$</button>
		<button class="btn btn-primary" *ngIf="auth.isAdmin()" (click)="addTier()">+</button>
      </div>

      <div class="form-group" *ngIf="!tiers && auth.isAdmin()">
        <input class="form-control" [(ngModel)]="query" placeholder="Search for">
		<button class="btn btn-primary" (click)="addTier()">+</button>
      </div>
    </div>
    <br>

    <br>
    <div *ngIf!="toPay">
    	<!-- <div *ngIf="!tedit">  -->
			<div *ngIf="tiers" class="row col-xs-12 header hidden-xs">
				<div class=" col-xs-1">Tier</div>
				<div class=" col-xs-1">A</div>
				<div class=" col-xs-1">B</div>
				<div class=" col-xs-1">C</div>
				<div class=" col-xs-1">D</div>
				<div class=" col-xs-1">E</div>
				<div class=" col-xs-1">F</div>
				<div class=" col-xs-2">Judgement</div>
				<div class=" col-xs-2">Expertise</div>
				<div class=" col-xs-1"></div>
			</div>
			<div class="row col-xs-12 div-list-item form-inline" *ngFor="let tier of tiers | filter:query">
				<div *ngIf="!tedit" (click)="onSelect(tier);checkAdmin()" class="text-big col-sm-1">{{tier.tier}}</div>
				<div *ngIf="tedit && selectedTier._id==tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.tier"></div>

				<div *ngIf="!tedit" (click)="onSelect(tier);checkAdmin()" class="col-sm-1">${{tier.grades[0]}}K</div>
				<div *ngIf="tedit && selectedTier._id==tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[0]"> K</div>

				<div *ngIf="!tedit" (click)="onSelect(tier);checkAdmin()" class="col-sm-1" (click)="checkAdmin()">${{tier.grades[1]}}K</div>
				<div *ngIf="tedit && selectedTier._id==tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[1]"> K</div>

				<div *ngIf="!tedit" (click)="onSelect(tier);checkAdmin()" class="col-sm-1" (click)="checkAdmin()">${{tier.grades[2]}}K</div>
				<div *ngIf="tedit && selectedTier._id==tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[2]"> K</div>

				<div *ngIf="!tedit" (click)="onSelect(tier);checkAdmin()" class="col-sm-1" (click)="checkAdmin()">${{tier.grades[3]}}K</div>
				<div *ngIf="tedit && selectedTier._id==tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[3]"> K</div>

				<div *ngIf="!tedit" (click)="onSelect(tier);checkAdmin()" class="col-sm-1" (click)="checkAdmin()">${{tier.grades[4]}}K</div>
				<div *ngIf="tedit && selectedTier._id==tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[4]"> K</div>

				<div *ngIf="!tedit" (click)="onSelect(tier);checkAdmin()" class="col-sm-1" (click)="checkAdmin()">${{tier.grades[5]}}K</div>
				<div *ngIf="tedit && selectedTier._id==tier._id" class="col-sm-1"><input class="input-small form-control" type="number" [(ngModel)]="tier.grades[5]"> K</div>

				<div *ngIf="!tedit" (click)="onSelect(tier);checkAdmin()" class="col-sm-2" (click)="checkAdmin()">{{tier.judgement}}</div>
				<div *ngIf="tedit && selectedTier._id==tier._id" class="col-sm-2"><textarea class="textarea form-control" rows="5" [(ngModel)]="tier.judgement"></textarea></div>

				<div *ngIf="!tedit" (click)="onSelect(tier);checkAdmin()" class="col-sm-2" (click)="checkAdmin()">{{tier.expertise}}</div>
				<div *ngIf="tedit && selectedTier._id==tier._id" class="col-sm-2"><textarea class="textarea form-control" rows="5" [(ngModel)]="tier.expertise"></textarea></div>

				<div *ngIf="tedit && selectedTier._id==tier._id && auth.isAdmin()" class="col-sm-1"><button class="btn btn-small btn-success" (click)="updateTier(tier);tedit=false">Y</button><button class="btn btn-small btn-danger" (click)="getTiers();tedit=false">N</button><button class="btn btn-delete btn-default" (click)="deleteTierPop(tier._id)">X</button></div>
			</div>
		<!-- </div> -->

<!-- 		<div *ngIf="tedit"> 
			<div *ngIf="tiers" class="row col-xs-12 header hidden-xs">
				<div class=" col-xs-1">Tier</div>
				<div class=" col-xs-1">A</div>
				<div class=" col-xs-1">B</div>
				<div class=" col-xs-1">C</div>
				<div class=" col-xs-1">D</div>
				<div class=" col-xs-1">E</div>
				<div class=" col-xs-1">F</div>
				<div class=" col-xs-2">Judgement</div>
				<div class=" col-xs-2">Expertise</div>
				<div class=" col-xs-1"></div>
			</div>
			<div class="row col-xs-12 div-list-item form-inline" *ngFor="let tier of tiers | filter:query">
				<div class="col-sm-1"><input class="input-small form-control" type="text" [(ngModel)]="tier.tier"></div>
				<div class="col-sm-1"><input class="input-small form-control" type="text" [(ngModel)]="tier.grades[0]">K</div>
				<div class="col-sm-1"><input class="input-small form-control" type="text" [(ngModel)]="tier.grades[1]">K</div>
				<div class="col-sm-1"><input class="input-small form-control" type="text" [(ngModel)]="tier.grades[2]">K</div>
				<div class="col-sm-1"><input class="input-small form-control" type="text" [(ngModel)]="tier.grades[3]">K</div>
				<div class="col-sm-1"><input class="input-small form-control" type="text" [(ngModel)]="tier.grades[4]">K</div>
				<div class="col-sm-1"><input class="input-small form-control" type="text" [(ngModel)]="tier.grades[5]">K</div>
				<div class="col-sm-2"><textarea class="textarea form-control" rows="5" [(ngModel)]="tier.judgement"></textarea></div>
				<div class="col-sm-2"><textarea class="textarea form-control" rows="5" [(ngModel)]="tier.expertise"></textarea></div>
				<div class="col-sm-1" *ngIf="auth.isAdmin()"><button class="btn btn-delete btn-default" (click)="deleteTierPop(tier._id)">X</button></div>
			</div>
		</div> -->
	</div>

    <div *ngIf="toPay">
		<div *ngIf="tiers" class="row col-xs-12 header hidden-xs">
			<div class=" col-xs-1">Tier</div>
			<div class=" col-xs-2">A</div>
			<div class=" col-xs-2">B</div>
			<div class=" col-xs-2">C</div>
			<div class=" col-xs-2">D</div>
			<div class=" col-xs-2">E</div>
			<div class=" col-xs-1">F</div>
		</div>

		<div class="row col-xs-12 div-list-item" *ngFor="let tier of tiers | filter:query">
			<div class="text-big col-sm-1 col-xs-12">{{tier.tier}}</div>
			<div class="col-sm-2 col-xs-12" (click)="onSelect(tier)">
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[0])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
			<div class="col-sm-2 col-xs-12" (click)="onSelect(tier)">		
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[1])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
			<div class="col-sm-2 col-xs-12" (click)="onSelect(tier)">		
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[2])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
			<div class="col-sm-2 col-xs-12" (click)="onSelect(tier)">
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[3])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
			<div class="col-sm-2 col-xs-12" (click)="onSelect(tier)">		
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[4])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
			<div class="col-sm-1 col-xs-12" (click)="onSelect(tier)">		
				<div *ngFor="let bs of getTierGradeBS(tier.tier,gmap[5])">
					<uli class="click text-blue" (click)="toBSDetail(bs._id)">{{bs.name}}</uli>
				</div>
			</div>
		</div>
	</div>

<!-- </div> -->

</div>

<br>
<div *ngIf!="auth.authenticated()">
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
{{auth.login()}}
</div>

</div>
