h1 {
  font-size: 1.8em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.6em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
button {
  width: 100px;
}
.input-index{
  width: 350px;
}
.input-fname{
  width: 350px;
}
.input-lname{
  width: 350px;
}
.input-pos{
  width: 350px;
}
.input-salary{
  width: 350px;
}
.input-email{
  width: 350px;
}
.input-phone{
  width: 350px;
}
.input-others{
  width: 350px;
}
.ta-brief {
  width: 470px;
  height: 100px;
  border: 1px solid #cccccc;
  font-style: italic;
  word-wrap: break-word;
}
.badgegroup-block{
  margin-top: 30px;
}
.input-badge{
  width: 300px;
  margin-right: 50px;
}
.select-badge {
  background: transparent;
  width: 300px;
  height: 30px;
  color: #999;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 3;
  border: 1px solid #cccccc;
  margin-right: 30px;
  margin-bottom: 30px;
}
.select-level {
  background: transparent;
  width: 50px;
  height: 30px;
  color: #999;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 3;
  border: 1px solid #cccccc;
  margin-bottom: 30px;
}
.input-level{
  width: 50px;
}
.ta-desc {
  width: 470px;
  height: 100px;
  border: 1px solid #cccccc;
  font-style: italic;
  word-wrap: break-word;
}
.label-level {
  width: 4em;
  margin-left: 20px;
}
.ta-big {
  border: 1px solid #cccccc;
  width: 350px;
  height: 150px;
}
.ta-small {
  border: 1px solid #cccccc;
  width: 350px;
  height: 100px;
}
.button-small {
  width: 45px;
}
.button-add {
  position: relative; 
  left: 42%;
  width: 100px;
}
.button-cancel {
  position: relative; 
  left: 42%;
}
.staff-error {
  border-bottom-color: #E22323;
}
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
