h1 {
  font-size: 1.8em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.6em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h3 {
  font-size: 1.3em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h4 {
  font-size: 1.1em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
  font-weight: lighter;
}

.input-index{
  width: 350px;
}
.input-name{
  width: 350px;
}
.input-code{
  width: 350px;
  text-transform: uppercase;
}
.badgelevel-block{
  margin-top: 20px;
}
.ta-big {
  border: 1px solid #cccccc;
  width: 350px;
  height: 150px;
}
.ta-small {
  border: 1px solid #cccccc;
  width: 350px;
  height: 100px;
}
.button-add {
  width: 100px;
  position: relative; 
  left: 32%;
}
.button-cancel {
  width: 100px;
  position: relative; 
  left: 32%;
}

