.btn-big {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.btn-s {
	width: 38px;
	margin-right: 10px;
}
.input-small {
  width: 200px;
  margin-right: 10px;
}
.input-big {
  width: 350px;
}
.textarea {
  width: 350px;
  height: 120px;
  background-color: transparent;
  vertical-align: top;
}