.btn-big {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.textarea {
  width: 350px;
  background-color: transparent;
}
.input-big {
  width: 250px;
}
.select-badge {
  width: 200px;
}
.label-level {
  width: 6em;
  margin-left: 20px;
}