
<div *ngIf="auth.isAdmin()">

<div *ngIf="staff">
<h2>Person - {{staff.fname}} {{staff.lname}}</h2>

<br>
<label>Position: </label>
<text>{{staff.position}}</text><br>

<label>Email: </label>
<text>{{staff.email}}</text><br>

<!-- 	<label>Phone: </label>
<text>{{staff.phone}}</text><br> -->

<!-- 	<label>Salary: </label>
<text>${{staff.salary}}K</text><br> -->

<label>Top BSet: </label>
<text class="badgeset" (click)="toBSDetail(getTopStaffBS(staff.userbgroups)[0])">{{getTopStaffBS(staff.userbgroups)[1]}} ( {{getTopStaffBS(staff.userbgroups)[2]}} - {{getTopStaffBS(staff.userbgroups)[3]}} ${{getPay(getTopStaffBS(staff.userbgroups)[2],getTopStaffBS(staff.userbgroups)[3])}}K )</text><br>

<label>Badge Sets: </label>
<text *ngFor="let bs of getSortStaffBS(staff.userbgroups)">
	<uli class="uli-bs" (click)="toBSDetail(bs._id)">{{bs.name}}, </uli>
</text><br>

<!-- 	<label>Active: </label>
<text>{{staff.active | yes_no}}</text><br> -->

<label>Status: </label>
<text>{{staff.status}}</text><br>

<label>Brief: </label>
<textarea readonly class="ta-brief">{{staff.brief}}</textarea><br>
<br>

<button *ngIf="!more" class="button-more" (click)="more=true">Show More</button>
<button *ngIf="more" class="button-less" (click)="more=false">Show Less</button>

<table *ngIf="!more" class="table-userbgroups">
	<tr>
	  <th class="th-badge">Badge</th>
	  <th class="th-desc">Description</th>
	  <th class="th-bs">Badge Set</th>
	  <th class="th-status">Status</th>
	</tr>
	<tr *ngFor="let userbgroup of staff.userbgroups">
		<td class="badge" (click)="toBadgeDetail(userbgroup.bid)">{{getBadgeName(userbgroup.bid)}} - {{userbgroup.level}}</td>
		<td class="td-desc">{{getDesc(userbgroup.bid,userbgroup.level)}}</td>
		<td class="td-bs">
		<div *ngFor="let bs of findBadgeSet(staff.userbgroups,userbgroup.bid,userbgroup.level)">
			<uli (click)="toBSDetail(bs._id)" class="uli-bs">{{bs.name}}</uli>
		</div>
  		</td>
  		<td class="td-status"><i><text class="text-approve" *ngIf="userbgroup.status">{{userbgroup.status | approved_pending}}</text><text class="text-pending2" *ngIf="!userbgroup.status">{{userbgroup.status | approved_pending}}</text></i></td>
	</tr>
</table>

<table *ngIf="more" class="table-userbgroups">
	<tr>
	  <th class="th-badge">Badge</th>
	  <th class="th-desc">Description</th>
	  <th class="th-bs">Badge Set</th>
	  <th class="th-status">Status</th>
	</tr>
	<tr *ngFor="let userbgroup of getMoreBadges(staff.userbgroups)">
		<td (click)="toBadgeDetail(userbgroup.bid)"><text *ngIf="userbgroup.current" class="badge">{{getBadgeName(userbgroup.bid)}} - {{userbgroup.level}}</text><text *ngIf="!userbgroup.current" class="badge-more">{{getBadgeName(userbgroup.bid)}} - {{userbgroup.level}}</text></td>
		<td class="td-desc">{{getDesc(userbgroup.bid,userbgroup.level)}}</td>
		<td class="td-bs">
		<div *ngFor="let bs of findBadgeSet(staff.userbgroups,userbgroup.bid,userbgroup.level)">
			<uli (click)="toBSDetail(bs._id)" class="uli-bs">{{bs.name}}</uli>
		</div>
  		</td>
  		<td class="td-status"><i><text class="text-approve" *ngIf="userbgroup.status && userbgroup.current">{{userbgroup.status | approved_pending}}</text><text class="text-pending2" *ngIf="!userbgroup.status && userbgroup.current">{{userbgroup.status | approved_pending}}</text></i></td>
	</tr>
</table>

<button (click)="goBack()">Back</button>
<button *ngIf="auth.isAdmin()" class="button-edit" (click)="toStaffEdit(staff._id)">Edit</button>
<br>
<br>
<br>
</div>

</div>

<h3 *ngIf!="auth.isAdmin()"><i>You are not an admin, please login as an admin to continue!</i></h3>

