h1 {
  font-size: 1.8em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.6em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h3 {
  font-size: 1.3em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
h4 {
  font-size: 1.1em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
  font-weight: lighter;
}
p{
  font-weight: lighter;
  width: 60%; 
  word-wrap: normal;
  text-align: justify;
}
button {
  width: 100px;
}
.ta-brief {
  width: 500px;
  height: 100px;
  border: 1px solid #cccccc;
  font-style: italic;
  word-wrap: break-word;
}
.table-badgegroups {
  margin-top: 10px;
  table-layout: fixed;
  width: 75%;
  /*white-space: nowrap;*/
  word-wrap: break-word;
}
.table-badgelevels td {
/*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}
.th-badge {
  width: 20%;
}
.th-desc {
  width: 50%;
}
.th-bs {
  width: 20%;
}
.td-badge {
  text-align: center;
}
.td-desc {
  font-style: italic;
}
.button-edit {
  position: relative; 
  left: 57%;
}
.badge{
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.badge:hover{
  color: red;
}
.badge:visited{
  color: #607D8B;
}
.uli-bs{
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.uli-bs:hover{
  color: red;
}
.uli-bs:visited{
  color: #607D8B;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}




