
<div *ngIf="auth.isAdmin()">

<div *ngIf="badgeset">
	<h2>Edit Badge Set - {{badgeset.name}}</h2><br>

<!-- 	<label>Index: </label>
	<input class="input-index" type="number" [(ngModel)]="badgeset.index" placeholder="Index"><br> -->

	<label>Name: </label>
	<input class="input-name" type="text" [(ngModel)]="badgeset.name" placeholder="Name"><br>

	<label>Tags: </label>
	<input class="input-tags" type="text" [(ngModel)]="newTag" placeholder="Tags"><button class="button-t-add" (click)="addTag(newTag)">+</button><text *ngFor="let tag of badgeset.tags">{{tag}} <button class="button-t-delete" (click)="deleteTag(tag)">-</button></text><br>

	<label>Tier: </label>
	<select class="select-tier" [(ngModel)]="badgeset.tier"><option *ngFor="let to of getTiersOptions()" [value]="to">{{to}}</option></select>

	<label class="label-grade">Grade: </label>
	<select class="select-grade" [(ngModel)]="badgeset.grade"><option *ngFor="let go of gradesOptions" [value]="go">{{go}}</option></select><br>

	<label>$$: </label>
	<text>${{getPay(badgeset.tier,badgeset.grade)}}K</text><br>

	<br>
	<label>InUsed: </label>
	<input type="checkbox" [(ngModel)]="badgeset.inused" placeholder="InUsed" /><br>

<!-- 	<label>Approved: </label>
	<input type="checkbox" [(ngModel)]="badgeset.approved" placeholder="Approved" /><br> -->

<!-- 	<br>
	<button class="button-pre" *ngIf!="prerequisite" (click)="prerequisite=true">Prerequisite+</button><br>
	<br> -->
	<div *ngIf="prerequisite">
		<h3>Prerequisite: </h3><br>
		<label>Numbers: </label>
		<input class="input-numBadges" type="number" [(ngModel)]="badgeset.numbadges" placeholder="Number of Badges"> Require {{badgeset.numbadges}} out of {{badgeset.badgegroups.length}} Badges<br>

		<div *ngFor="let corebadge of badgeset.corebadges">
		<label>Core Badge: </label>
		<input readonly class="input-corebadge" type="text" placeholder="{{corebadge.badge}} - {{corebadge.level}}"><button class="button-c-delete" (click)="deleteCoreBadgePop(corebadge)">-</button><br>
		</div>

		<label>Add New: </label>
		<select class="select-badge" [(ngModel)]="coreBadge"><option *ngFor="let cbo of getCoreBadgesOptions(badgeset.badgegroups)" [value]="cbo">{{cbo}}</option></select><button class="button-s-add" (click)="addCoreBadge(coreBadge)">+</button><br>
		<!-- <button class="button-l-save" (click)="prerequisite=false">Save</button> -->
		<button (click)="prerequisite=false">Done</button><br>
	</div>

	<div *ngIf!="prerequisite">
		<div class="badgegroup-block" *ngFor="let badgegroup of badgeset.badgegroups">
			<label>Badge: </label>
			<select class="select-badge" [(ngModel)]="badgegroup.badge"><option *ngFor="let bo of getBadgesOptions()" [value]="bo">{{bo}}</option></select>

			<label class="label-level">Level: </label>
			<select class="select-level" [(ngModel)]="badgegroup.level"><option *ngFor="let lo of getLevelsOptions(badgegroup.badge)" [value]="lo">{{lo}}</option></select><br>

			<label>Description: </label>
			<textarea readonly class="ta-desc" placeholder="Description">{{getDesc(badgegroup.badge,badgegroup.level)}}</textarea>

			<button class="button-s-delete" (click)="deleteBadgeGroupPop(badgegroup)">-</button>
			
		</div>

		<br>
		<button class="button-s-add" *ngIf!="active" (click)="active=true">+</button><br>
		<br>

		<div *ngIf="active">
			<h3>Add New Badge</h3><br>
			<label>Badge: </label>
			<select class="select-badge" [(ngModel)]="newBadge"><option *ngFor="let bo of getNewBadgesOptions()" [value]="bo">{{bo}}</option></select>

			<label class="label-level">Level: </label>
			<select class="select-level" [(ngModel)]="newLevel"><option *ngFor="let lo of getLevelsOptions(newBadge)" [value]="lo">{{lo}}</option></select><br>

			<label>Description: </label>
			<textarea readonly class="ta-desc" placeholder="Description">{{getDesc(newBadge,newLevel)}}</textarea><br>

			<button class="button-l-save" (click)="addBadgeGroup();active=false">Save</button>
			<button class="button-l-cancel" (click)="active=false">Cancel</button><br>
		</div>
		
		<div *ngIf!="active">
			<button class="button-add" (click)="addBadgeSet()">New</button>
			<button class="button-delete" (click)="deleteBadgeSetPop()">Delete</button>
			<button class="button-save" [disabled]="!badgeset.name" (click)="updateBadgeSet()">Save</button>
			<button class="button-cancel" (click)="goBack()">Cancel</button>
		</div>
	</div>
	<br>
	<br>
	<br>

</div>

</div>

<h3 *ngIf!="auth.isAdmin()"><i>You are not an admin, please login as an admin to continue!</i></h3>

