
<div *ngIf="auth.authenticated()">

<div *ngIf!="showCompare">
	<div *ngIf="badgesets">
		<h2>Badge Set</h2>
		<input [(ngModel)]="query" placeholder="Search for">
		<button class="button-showCom" *ngIf!="showBS" (click)="showCompare=true;getComBS()">Compare</button>
		<button class="button-back" *ngIf="showBS" (click)="toBadgeSets()">Back</button>
		<!-- <button class="button-more" *ngIf!="active && auth.isAdmin()" (click)="active=true">></button> -->
		<button class="button-add" *ngIf="auth.isAdmin()" (click)="addBadgeSet()">Add New</button>
		<!-- <button class="button-less" *ngIf="active" (click)="active=false"><</button> -->
		<br>
	</div>

	<div *ngIf="!badgesets && auth.isAdmin()">
		<h2>Add New BadgeSet</h2>
		<input [(ngModel)]="query" placeholder="Search for">
		<button class="button-add2" (click)="addBadgeSet()">+</button><br>
	</div>

	<div *ngIf="!badgesets && !auth.isAdmin()" >
   		<h1>There is NO Badge Set!</h1>
   		<br>
	</div>   	

	<table class="table-badgesets">
		<tr>
			<th class="th-name">Name</th>
			<th class="th-bg">Badges</th>
			<th class="th-tier">Tier</th>
			<th class="th-grade">Grade</th>
			<th class="th-pay">$$</th>
			<th class="th-tags">Tags</th>
			<!-- <th class="th-inused">InUsed</th> -->
			<th class="th-status">Status</th>
			<th class="th-last"></th>
		</tr>
		<tr *ngFor="let badgeset of badgesets | filter:query">
			<td *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" (click)="onSelect(badgeset);toBSDetail(badgeset._id)" class="badgeset">{{badgeset.name}}</td>
			<td *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="td-badges">
				<div *ngFor="let badgegroup of badgeset.badgegroups">
				<li>
				<text class="tooltip" (click)="toBadgeDetail(badgegroup.badge)"><text class="badge">{{badgegroup.badge}} {{badgegroup.level}}</text><text class="check-core">{{checkCore(badgeset,badgegroup.badge)}}</text><span class="tooltiptext"><li> <b>Level {{badgegroup.level-1}}: </b>{{getDesc(badgegroup.badge, badgegroup.level-1)}}</li><br><li><b><u>Level {{badgegroup.level}}</u>: </b>{{getDesc(badgegroup.badge, badgegroup.level)}}</li><br><li><b>Level {{badgegroup.level+1}}: </b>{{getDesc(badgegroup.badge, badgegroup.level+1)}}</li></span></text>
				</li>
				</div>
			</td>
			<td *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="td-tier">{{badgeset.tier}}</td>
			<td *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="td-grade">{{badgeset.grade}}</td>
			<td *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="td-pay">${{getPay(badgeset.tier,badgeset.grade)}}K</td>
			<td *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="td-tags">
				<text *ngFor="let tag of badgeset.tags"><text class="t-tag" (click)="groupByTag(tag)"> {{tag}}, </text></text>
			</td>
<!-- 			<td *ngIf="badgeset.inused || auth.isAdmin()" class="td-inused">{{badgeset.inused | yes_no}}</td> -->
			<td *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="td-status">{{badgeset.status}}</td>
			<td *ngIf="(badgeset.status=='Accepted' || auth.isAdmin()) && active" class="td-last"><button *ngIf="auth.isAdmin()" class="button-s-x" (click)="deleteBadgeSetPop(badgeset._id)">X</button><button *ngIf="auth.isAdmin()" class="button-s-e" (click)="toBSEdit(badgeset._id)">E</button></td>
		</tr>
	</table>
</div>

<div *ngIf="showCompare">
	<h2>Compare Badge Sets</h2>
	<button class="button-backbs" (click)="showCompare=false">Back</button><br>
	<br>
	<div *ngIf="badgesets">
	<table class="table-big">
		<tr>
			<td>
				<select class="select-bs" [(ngModel)]="bsname1"><option *ngFor="let badgeset of badgesets" [value]="badgeset.name">{{badgeset.name}}</option></select>
				
				<table class="table-c">
				<tr>
					<td class="badgeset" (click)="toBSDetail(getBS(bsname1)._id)">{{getBS(bsname1).name}}</td>
				</tr>
				<tr>
					<td class="td-tier">{{getBS(bsname1).tier}}-{{getBS(bsname1).grade}} (${{getBS(bsname1).pay}}K)</td>
				</tr>
				<tr>
				  <td>
				  <div *ngFor="let badgegroup of getBS(bsname1).badgegroups">
				  <li>
				  <text class="badge" (click)="toBadgeDetail(badgegroup.badge)">{{badgegroup.badge}} {{badgegroup.level}} </text><text class="money">(+${{0}})</text>
				  </li>
				  </div>
				  </td>
				</tr>
				</table>
			</td>
			<td>
				<select class="select-bs" [(ngModel)]="bsname2"><option *ngFor="let badgeset of badgesets" [value]="badgeset.name">{{badgeset.name}}</option></select>
				
				<table class="table-c">
				<tr>
					<td class="badgeset" (click)="toBSDetail(getBS(bsname2)._id)">{{getBS(bsname2).name}}</td>
				</tr>
				<tr>
					<td class="td-tier">{{getBS(bsname2).tier}}-{{getBS(bsname2).grade}} (${{getBS(bsname2).pay}}K)</td>
				</tr>
				<tr>
				  <td>
				  <div *ngFor="let badgegroup of getBS(bsname2).badgegroups">
				  <li>
				  <text class="badge" (click)="toBadgeDetail(badgegroup.badge)">{{badgegroup.badge}} {{badgegroup.level}} </text><text class="money">(+${{getMoney(getBS(bsname2).badgegroups,getBS(bsname2).pay-getBS(bsname1).pay,badgegroup.level)}})</text>
				  </li>
				  </div>
				  </td>
				</tr>
				</table>
			</td>
			<td>
				<select class="select-bs" [(ngModel)]="bsname3"><option *ngFor="let badgeset of badgesets" [value]="badgeset.name">{{badgeset.name}}</option></select>
				
				<table class="table-c">
				<tr>
					<td class="badgeset" (click)="toBSDetail(getBS(bsname3)._id)">{{getBS(bsname3).name}}</td>
				</tr>
				<tr>
					<td class="td-tier">{{getBS(bsname3).tier}}-{{getBS(bsname3).grade}} (${{getBS(bsname3).pay}}K)</td>
				</tr>
				<tr>
					<td>
						<div *ngFor="let badgegroup of getBS(bsname3).badgegroups">
						<li>
						<text class="badge" (click)="toBadgeDetail(badgegroup.badge)">{{badgegroup.badge}} {{badgegroup.level}} </text><text class="money">(+${{getMoney(getBS(bsname3).badgegroups,getBS(bsname3).pay-getBS(bsname1).pay,badgegroup.level)}})</text>
						</li>
						</div>
					</td>
				</tr>
				</table>
			</td>
		</tr>
	</table>
	</div>
</div>

</div>

<h3 *ngIf="!auth.authenticated()"><i>You are not logged in, please click 'Log in' button to login.</i></h3>
