h1 {
  font-size: 2em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.5em;
  color: #999;
  margin-top: 0;
  padding-top: 20px;
}
h3 {
  word-wrap: break-word;
  font-size: 1.1em;
  color: #999;
  margin-top: 0;
  padding-top: 5px;
}
h4 {
  word-wrap: break-word;
  font-size: 1.0em;
  color: #999;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 20px;
}
button {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1em;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
table {
  table-layout: auto;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 20px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.table-badgesets {
  /*table-layout: fixed;*/
  width: 100%;
  /*white-space: nowrap;*/
  word-wrap: break-word;
  border: 0;
  margin-bottom: 50px;
}
.table-badgesets td {

}
.table-badgesets tr {
  line-height: 25px; 
}
.th-name {
  width: 20%;
}
.th-bg {
  width: 26%;
}
.th-tier {
  width: 5%;
}
.th-grade {
  width: 5%;
}
.th-pay {
  width: 6%;
}
.th-tags {
  width: 12%;
}
.th-inused {
  width: 6%;
}
.th-last {
  background-color: #ffffff;
  width: 10%;
  border: 0;
}
.td-badges {
  font-style: italic;
  text-align: both;
}
.td-bs {
  text-align: center;
}
.td-tier {
  text-align: center;
}
.td-grade {
  text-align: center;
}
.td-pay {
  text-align: center;
}
.td-tags {
  text-align: center;
}
.td-inused {
  text-align: center;
}
.button-showCom {
  position: relative; 
  left: 60%;
  color: #039be5;
  width: 110px;
  margin-left: 0;
}
.button-more {
  position: relative; 
  left: 60%;
  color: #039be5;
}
.button-add {
  position: relative; 
  left: 60%;
  color: #039be5;
}
.button-add:hover {
  color: white;
  background-color: limegreen;
}
.button-add2 {
  position: relative; 
  left: 70%;
  color: #039be5;
}
.button-add2:hover {
  color: white;
  background-color: limegreen;
}
.button-less {
  position: relative; 
  left: 63%;
  color: #039be5;
}
.button-backbs {
  position: relative; 
  left: 75%;
  color: #039be5;
  width: 110px;
}
.button-back {
  position: relative; 
  left: 60%;
  color: #039be5;
  width: 110px;
}
.td-last{
  background-color: #ffffff;
  border: 0 ;
}
.button-s-x{
  background-color: pink;
  color: white;
  width: 40px;
  /*padding: 10px 10px;*/
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 7px;
  margin-bottom: 0;
}
.button-s-x:hover {
  background-color: red;
  color: white;
}
.button-s-e{
  /*border: 1px solid grey;*/
  color: #039be5;
  width: 40px;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 0;
}
.badgeset{
  font-size: 1.1em;
  cursor: pointer;
  cursor: hand;
  color: #039be5;
  text-align: center;
}
.badgeset:hover{
  color: red;
}
.badgeset:visited{
  color: #607D8B;
}
.badge{
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.badge:hover{
  color: red;
}
.badge:visited{
  color: #607D8B;
}
.t-tag{
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.t-tag:hover{
  color: red;
}
.t-tag:visited{
  color: #607D8B;
}
li {
    width: 100%;
    list-style-type: none;
    /*padding: 6px 10px;*/
}
li:hover {
    background: #cfd8dc;
}
.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block !important;
}
.animate-show.ng-hide {
    opacity: 0;
}
.tooltip {
  position: relative;
  /*display: inline-block;*/
  /*border-bottom: 1px dotted black;*/
}
.tooltip .tooltiptext {
  overflow: hidden;
  visibility: hidden;
  /*max-height: none;*/
  width: 500px;
  height: 300px;
  background-color: white;
  color: #999;
  text-align: left;
  border-radius: 6px;
  padding: 5px 15px;
  border: 1px solid grey;
/*    opacity: 0;
  transition: opacity 1s;*/
  bottom: 200%;
  left: 60%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  /*opacity: 1;*/
}
.tooltip:hover {
  color: #039be5;
}

.table-big {
  /*table-layout: fixed;*/
  width: 85%;
  border: 0;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: white;
  text-align: top;
}
.table-big td {
  border: 0;
  vertical-align: top;
}
.table-big tr {
  border: 0;
}
.table-big th {
  border: 0;
}
.table-big tr:nth-child(odd) {
  background-color: white;
}
.table-big tr:nth-child(even) {
  background-color: white;
}

.select-bs {
  background: transparent;
  width: 100%;
  height: 30px;
  color: #999;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 3;
  border: 1px solid #cccccc;
  margin-right: 0px;
  margin-bottom: 10px;
}

.table-c {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  margin-top: 0px;
  margin-bottom: 0px;
}
.table-c td {
  border: 1px solid grey;
}
.table-c tr {
  line-height: 25px; 
}
.th-c {

}

.check-core {
  color: red;
}

