/*.header{
  font-weight: 600;
}

.badge-set-item{
  padding: 20px;
  border-bottom: 1px #ddd solid;
}

.btn.wrap{
  white-space: inherit;
}

@media screen and (max-width: 700px) {
  .wide-only{
    display:none;
  }
}*/

/*.tooltip .tooltiptext {
  overflow: hidden;
  visibility: hidden;
  width: 500px;
  height: 300px;
  background-color: white;
  color: #999;
  text-align: left;
  border-radius: 6px;
  padding: 5px 15px;
  bottom: 200%;
  left: 60%;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover {
  color: #039be5;
}*/

/*.table-big {
  width: 89%;
  border: 0;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: white;
  text-align: top;
}
.table-big td {
  border: 0;
  vertical-align: top;
}
.table-big tr {
  border: 0;
}
.table-big th {
  border: 0;
}
.table-big tr:nth-child(odd) {
  background-color: white;
}
.table-big tr:nth-child(even) {
  background-color: white;
}

.table-c {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  margin-top: 0px;
  margin-bottom: 0px;
}
.table-c td {
}*/

