<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1" >
      <span *ngIf="badgesets">Badge Set</span>
      <span *ngIf="!badgesets && auth.isAdmin()" >Add New Badge Set</span>
      <span *ngIf="!badgesets && !auth.isAdmin()">There is NO Badge Set!</span>
   </h1>
</div>

<!-- Content -->
<div class="margin col-md-10 col-md-offset-1">

<div *ngIf="auth.authenticated()">

	<div *ngIf="!showCompare">
		<div class="col margin col-xs-11 form-inline">
			<div *ngIf="badgesets" class="col col-xs-12 form-group">
				<input class="form-control" [(ngModel)]="query" placeholder="Search for">
				<button class="btn-compare btn-add btn btn-default" *ngIf="!showBS" (click)="showCompare=true;getComBS()">Compare</button>
				<button class="btn btn-big btn-primary pull-right" *ngIf="showBS" (click)="getBadgeSets();showBS=false">Back</button>
				<button class="btn btn-add btn-s btn-default" *ngIf="!showBS && auth.isAdmin()" (click)="addBadgeSet()">+</button>
			</div>

			<div *ngIf="!badgesets && auth.isAdmin()" class="form-group">
				<input class="form-control" [(ngModel)]="query" placeholder="Search for">
				<button class="btn btn-add btn-s btn-default" (click)="addBadgeSet()">+</button><br>
			</div>
		</div>

		<div *ngIf="badgesets" class="row col col-xs-12 header hidden-xs">
			<div class=" col-xs-3">Name</div>
			<div class=" col-xs-5">Badges</div>
			<div class=" col-xs-2">Tier/Grade</div>
			<div class=" col-xs-2">Tags</div>
		</div>
		
		<div class="row col col-xs-12 div-list-item" *ngFor="let badgeset of badgesets | filter:query">
			<div *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="col-sm-3">
				<button class="btn btn-b btn-primary wrap" (click)="onSelect(badgeset);toBSDetail(badgeset._id)">{{badgeset.name}}</button>
			</div>
			<div *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="div-badges col-sm-5">
				<text class="click text-blue" *ngFor="let badgegroup of badgeset.badgegroups">
				<text (click)="toBadgeDetail(badgegroup.bid)"><text>{{getBadgeName(badgegroup.bid)}} {{badgegroup.level}}</text><text *ngIf="badgegroup.focus.length!=0"> [{{badgegroup.focus}}]</text></text>, 
				</text>
			</div>
			<div *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="div-tier col-sm-2 col-xs-2" >{{badgeset.tier}} - {{badgeset.grade}}   ( ${{getPay(badgeset.tier,badgeset.grade)}}K )</div>
			<!-- <div *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="div-grade col-sm-1 col-xs-2">{{badgeset.grade}}</div>
			<div *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="div-pay col-sm-1 col-xs-2">${{getPay(badgeset.tier,badgeset.grade)}}K</div> -->
			<div *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="div-tags col-sm-2 col-xs-3">
				<text *ngFor="let tag of badgeset.tags" class="click text-blue"><text class="t-tag" (click)="groupByTag(tag);showBS=true;"> {{tag}}</text></text>
			</div>

<!-- 			<div *ngIf="badgeset.status=='Accepted' || auth.isAdmin()" class="div-status col-sm-1 col-xs-2">{{badgeset.status}}</div> -->
<!-- 			<div *ngIf="(badgeset.status=='Accepted' || auth.isAdmin()) && active" class="div-last  col-sm-1 col-xs-2"><button *ngIf="auth.isAdmin()" class="btn btn-delete btn-default" (click)="deleteBadgeSetPop(badgeset._id)">X</button>
			</div> -->
		</div>
	</div>

	<div *ngIf="showCompare">

		<h2>Compare Badge Sets</h2>

		<div class="row col-xs-12">
			<button class="btn btn-big btn-primary pull-right" (click)="showCompare=false">Back</button><br>
		</div>
		<br>
		<br>

		<div class="row col-xs-12">
		<table *ngIf="badgesets" class="table-big">
			<tr>
				<td>
					<select class="select-bs" [(ngModel)]="bsname1"><option *ngFor="let badgeset of badgesets" [value]="badgeset.name">{{badgeset.name}}</option></select>
					
					<table class="table-c">
					<tr>
						<td class="click text-blue" (click)="toBSDetail(getBS(bsname1)._id)">{{getBS(bsname1).name}}</td>
					</tr>
					<tr>
						<td class="td-center">{{getBS(bsname1).tier}}-{{getBS(bsname1).grade}} (${{getBS(bsname1).pay}}K)</td>
					</tr>
					<tr>
					  <td>
					  <div *ngFor="let badgegroup of getBS(bsname1).badgegroups">
					  <uli>
					  <text class="click text-blue" (click)="toBadgeDetail(badgegroup.bid)">{{getBadgeName(badgegroup.bid)}} {{badgegroup.level}} </text><text class="click text-blue">(+${{0}})</text>
					  </uli>
					  </div>
					  </td>
					</tr>
					</table>
				</td>
				<td>
					<select class="select-bs" [(ngModel)]="bsname2"><option *ngFor="let badgeset of badgesets" [value]="badgeset.name">{{badgeset.name}}</option></select>
					
					<table class="table-c">
					<tr>
						<td class="click text-blue" (click)="toBSDetail(getBS(bsname2)._id)">{{getBS(bsname2).name}}</td>
					</tr>
					<tr>
						<td class="td-center">{{getBS(bsname2).tier}}-{{getBS(bsname2).grade}} (${{getBS(bsname2).pay}}K)</td>
					</tr>
					<tr>
					  <td>
					  <div *ngFor="let badgegroup of getBS(bsname2).badgegroups">
					  <uli>
					  <text class="click text-blue" (click)="toBadgeDetail(badgegroup.bid)">{{getBadgeName(badgegroup.bid)}} {{badgegroup.level}} </text><text class="click text-blue">(+${{getMoney(getBS(bsname2).badgegroups,getBS(bsname2).pay-getBS(bsname1).pay,badgegroup.level)}})</text>
					  </uli>
					  </div>
					  </td>
					</tr>
					</table>
				</td>
				<td>
					<select class="select-bs" [(ngModel)]="bsname3"><option *ngFor="let badgeset of badgesets" [value]="badgeset.name">{{badgeset.name}}</option></select>
					
					<table class="table-c">
					<tr>
						<td class="click text-blue" (click)="toBSDetail(getBS(bsname3)._id)">{{getBS(bsname3).name}}</td>
					</tr>
					<tr>
						<td class="td-center">{{getBS(bsname3).tier}}-{{getBS(bsname3).grade}} (${{getBS(bsname3).pay}}K)</td>
					</tr>
					<tr>
						<td>
							<div *ngFor="let badgegroup of getBS(bsname3).badgegroups">
							<uli>
							<text class="click text-blue" (click)="toBadgeDetail(badgegroup.bid)">{{getBadgeName(badgegroup.bid)}} {{badgegroup.level}} </text><text class="click text-blue">(+${{getMoney(getBS(bsname3).badgegroups,getBS(bsname3).pay-getBS(bsname1).pay,badgegroup.level)}})</text>
							</uli>
							</div>
						</td>
					</tr>
					</table>
				</td>
			</tr>
		</table>
		</div>
	</div>

</div>

<br>
<div *ngIf="!auth.authenticated()">
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
{{auth.login()}}
</div>

</div>
