h1 {
  font-size: 2em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.8em;
  color: #999;
  margin-top: 0;
  padding-top: 20px;
}
h3 {
  word-wrap: break-word;
  font-size: 1.1em;
  color: #999;
  margin-top: 0;
  padding-top: 5px;
}
h4 {
  word-wrap: break-word;
  font-size: 1.0em;
  color: #999;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 20px;
}
button {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1em;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
table {
  table-layout: auto;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 20px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
.table-badges {
  /*table-layout: fixed;*/
  width: 100%;
  /*white-space: nowrap;*/
  word-wrap: break-word;
  border: 0;
  margin-bottom: 50px;
}
/*.table-badges td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/
.table-badges tr {
  /*line-height: 30px; */
}
.th-name {
  width: 23%;
}
.th-overview {
  width: 43%;
}
.th-approved {
  width: 8%;
}
.th-inused {
  width: 11%;
}
.th-last {
  background-color: #ffffff;
  width: 10%;
  border: 0;
}
.td-overview {
  font-style: italic;
}
.td-approved {
  text-align: center;
}
.td-inused {
  text-align: center;
}
.button-add {
  position: relative; 
  left: 61%;
  color: #039be5;
}
.button-add:hover {
  color: white;
  background-color: limegreen;
}
.button-add2 {
  position: relative; 
  left: 70%;
  color: #039be5;
}
.button-add2:hover {
  color: white;
  background-color: limegreen;
}
.button-showBCat {
  position: relative; 
  left: 61%;
  color: #039be5;
  width: 150px;
  margin-left: 0;
}
.button-more {
  position: relative; 
  left: 61%;
  color: #039be5;
  /*margin-left: 0px;*/
}
.button-less {
  position: relative; 
  left: 61%;
  color: #039be5;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.td-last{
  background-color: #ffffff;
  border: 0 ;
}
.button-s-x{
  background-color: pink;
  color: white;
  width: 40px;
  /*padding: 10px 10px;*/
  text-align: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 7px;
  margin-bottom: 0;
}
.button-s-x:hover {
  background-color: red;
  color: white;
}
.button-s-e{
  /*border: 1px solid grey;*/
  color: #039be5;
  width: 40px;
  text-align: center;
  margin-top: 0;
  margin-left: 8px;
  margin-right: 5px;
  margin-bottom: 0;
}
.badge{
  font-size: 1.1em;
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.badge:hover{
  color: red;
}
.badge:visited{
  color: #607D8B;
}
.t-tag{
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.t-tag:hover{
  color: red;
}
.t-tag:visited{
  color: #607D8B;
}
.badge-container {
  font-family: "Roboto";
  position: relative;
  max-width: 900px;
  margin: 30px auto 0;
  padding: 20px 10px 10px 10px;
  box-shadow: 0 -1px 0 #e5e5e5,
              0 0 2px rgba(0,0,0,.12),
              0 2px 4px rgba(0,0,0,.24);
}
.badge-container .badge-title {
  padding: 5px;
  background-color: #fff;
  position: absolute;
  font-size: 30px;
  top: -45px;
  left: 0;
  color: steelblue;
}
.badge-container .badge-form {
  margin-top: 20px;
}
.badge-container input {
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 17px;
  padding: 5px 3px;
  width: 90%;
  box-sizing: border-box;
}
.badge-container input:focus {
  outline: 0;
}
.badge-container button {
  border-radius: 100%;
  padding: 10px 14px;
  font-weight: bold;
  color: #fff;
  background-color: steelblue;
  cursor: pointer;
  border: 2px solid #ddd;
  font-size: 15px;
  transition: all .2s;
}
.badge-container button:focus,
.badge-container button:active {
  outline: none;
}
.badge-container button:disabled {
  opacity: .7;
  color: steelblue;
  background-color: #fff;
  cursor: not-allowed;
}
.badge-container .badge-error {
  border-bottom-color: #E22323;
}
.badge-container .badge-item {
  padding: 3px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.badge-container .badge-item:hover {
  background-color: #f1f2f3;
}
.table-bcat {
  width: 100%;
  word-wrap: break-word;
  border: 0;
  margin-bottom: 50px;
}
.th-bcat {
  width: 25%;
}
.th-subcat {
  width: 25%;
}
.th-badge {
  width: 28%;
}
/*
.table-inside {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 0px;
}
.table-inside td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

