
<div *ngIf="badges">
<h1>Badges</h1>
<input [(ngModel)]="query" placeholder="Search for">
<button class="button-showBCat" *ngIf!="showBadges" (click)="showBadges=true;showBadgeCat()">Badge Category</button>
<button class="button-back" *ngIf="showBadges" (click)="toBadges()">Back</button>
<button class="button-more" *ngIf!="active" (click)="active=true">></button>
<button class="button-add" *ngIf="active" (click)="addBadge()">+</button>
<button class="button-less" *ngIf="active" (click)="active=false"><</button><br>
</div>

<div *ngIf!="badges">
<h1>Add New Badge</h1>
<input [(ngModel)]="query" placeholder="Search for">
<button class="button-add2" (click)="addBadge()">+</button><br>
</div>

<div *ngIf!="showBCat">
<table class="table-badges">
   <tr>
      <th class="th-name">Badge</th>
      <th class="th-overview">Overview</th>
      <th class="th-approved">Approved</th>
      <th class="th-inused">InUsed</th>
      <th class="th-last"></th>
   </tr>
   <tr *ngFor="#badge of badges | filter:query">
      <td (click)="onSelect(badge);toDetail()" class="badge">{{badge.name}}</td>
      <td class="td-overview" (click)="onSelect(badge)">{{badge.overview}}</td>
      <td (click)="onSelect(badge)" class="td-approved">{{badge.approved | yes_no}}</td>
      <td (click)="onSelect(badge)" class="td-inused">{{badge.inused | yes_no}}</td>
      <td *ngIf="active" class="td-last"><button class="button-s-x" (click)="deleteBadgePop(badge._id)">X</button><button class="button-s-e" (click)="toEdit(badge._id)">E</button></td>
   </tr>
</table>
</div>



