
<div *ngIf="auth.authenticated()">

<div *ngIf="badges">
<h2 class="text-blue">Badges</h2>
<input [(ngModel)]="query" placeholder="Search for">
<button class="button-showBCat" *ngIf!="showBadges" (click)="showBadges=true;showBadgeCat()">Badge Category</button>
<!-- <button class="button-more" *ngIf!="active && auth.isAdmin()" (click)="active=true">></button> -->
<button class="button-add" *ngIf="auth.isAdmin()" (click)="addBadge()">+</button>
<!-- <button class="button-less" *ngIf="active" (click)="active=false"><</button> -->
<br>
</div>

<div *ngIf="!badges && auth.isAdmin() ">
<h2>Add New Badge</h2>
<input [(ngModel)]="query" placeholder="Search for">
<button class="button-add2" (click)="addBadge()">+</button><br>
</div>

<div *ngIf="!badges && !auth.isAdmin()" >
   <h2>There is NO Badge!</h2>
   <br>
</div>   

<div *ngIf!="showBCat">
<table class="table-badges">
   <tr>
      <th class="th-name">Badge</th>
      <th class="th-overview">Overview</th>
      <!-- <th class="th-approved">Approved</th> -->
      <!-- <th class="th-inused">InUsed</th> -->
      <th class="th-status">Status</th>
      <th class="th-last"></th>
   </tr>
   <tr *ngFor="let badge of badges | filter:query">
      <td *ngIf="badge.status=='Accepted' || auth.isAdmin()" (click)="onSelect(badge);toDetail()" class="badge">{{badge.name}}</td>
      <td *ngIf="badge.status=='Accepted' || auth.isAdmin()" class="td-overview" (click)="onSelect(badge)">{{badge.overview}}</td>
<!--       <td *ngIf="badge.inused || auth.isAdmin()" (click)="onSelect(badge)" class="td-approved">{{badge.approved | yes_no}}</td> -->
      <td *ngIf="badge.status=='Accepted' || auth.isAdmin()" (click)="onSelect(badge)" class="td-status">{{badge.status}}</td>
      <td *ngIf="(badge.status=='Accepted' || auth.isAdmin()) && active" class="td-last"><button *ngIf="auth.isAdmin()" class="button-s-x" (click)="deleteBadgePop(badge._id)">X</button><!-- <button *ngIf="auth.isAdmin()" class="button-s-e" (click)="toEdit(badge._id)">E</button> --></td>
   </tr>
</table>
</div>

</div>

<br>
<div *ngIf="!auth.authenticated()">
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
{{auth.login()}}
</div>

<!-- <br>
<h3 *ngIf="!auth.authenticated()"><i>You are not logged in, please click 'Log in' button to login.</i></h3> -->


