<!-- Header -->
<div class="docs-header">
   <h1 class="col-md-10 col-md-offset-1">
      <span *ngIf="badges">Badges</span>
      <span *ngIf="!badges && auth.isAdmin()">Add New Badge</span>
      <span *ngIf="!badges && !auth.isAdmin()">There is NO Badge!</span>
   </h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

<div *ngIf="auth.authenticated()">

   <div class="form-inline">
      <div *ngIf="badges">
         <input class="input form-control" type="text" [(ngModel)]="query" placeholder="Search for">
         <button class="btn btn-primary" *ngIf="auth.isAdmin()" (click)="addBadge()">+</button>
      </div>
      <div *ngIf="!badges && auth.isAdmin() ">
         <input class="input form-control" type="text" [(ngModel)]="query" placeholder="Search for">
         <button class="btn btn-primary" (click)="addBadge()">+</button><br>
      </div>
   </div>
   <br>

   <div *ngIf="badges" class="row col-xs-12 header hidden-xs">
         <div class="col-xs-2">Badge Name</div>
         <div class="col-xs-8">Overview</div>
         <div class="col-xs-1">Status</div>
         <div class="col-xs-1"></div>
         
   </div>

   <div class="row col-xs-12 div-list-item" *ngFor="let badge of badges | filter:query">
      <div class="col-xs-4 col-sm-2 btn btn-primary wrap" *ngIf="badge.status=='Accepted' || auth.isAdmin()" (click)="onSelect(badge);toDetail()">
         <span>{{badge.name}}</span>
      </div>
      <div class="col-xs-6 col-sm-8" *ngIf="badge.status=='Accepted' || auth.isAdmin()" (click)="onSelect(badge)">{{badge.overview}}</div>
      <div class="col-xs-1 col-sm-1" *ngIf="badge.status=='Accepted' || auth.isAdmin()" (click)="onSelect(badge)">{{badge.status}}</div>
      <div class="col-xs-1 col-sm-1" *ngIf="(badge.status=='Accepted' || auth.isAdmin()) && active">
         <button class="btn btn-delete btn-default" *ngIf="auth.isAdmin()" (click)="deleteBadgePop(badge._id)">X</button>
      </div>
   </div>

</div>


<div *ngIf="!auth.authenticated()">
   <h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
   {{auth.login()}}
</div>

</div>